@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400';

*{
    font-family: 'Open Sans', sans-serif;
}

.box-login {
    background-color: #2F384E;
    padding: 0;
    margin: 0 auto;
    display: table;
    position: static;
    float: none;
    margin-top: 20%;
}

body{
    background-color: #f4f4f4;
}

.logo-login{
    text-align: center;

}

.form-login{
    height: 212px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    padding-top: 15px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn-logar{
    background-color: #2F384E;
    color: #fff!important;
    outline: none;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #2F384E;
    border-color: #2F384E;
    color: #fff;
    outline: none;
}

.btn-logar:hover, .btn-logar:active, .btn-logar:focus{
    color: #fff!important;
    background-color: #2F384E!important;
}

.togglebutton.tgg-check {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: rgba(70, 83, 117, 0.94);
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
    background-color: #2f384e;
}

.togglebutton label input[type=checkbox]:checked+.toggle:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.4),0 0 0 15px rgba(47, 56, 78, 0.22);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4),0 0 0 15px rgba(47, 56, 78, 0.08);
}

.form-group.is-focused .form-control {
    outline: 0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#282F42),to(#282F42)),-webkit-gradient(linear,left top,left bottom,from(#D2D2D2),to(#D2D2D2));
    background-image: -webkit-linear-gradient(#282F42,#282F42),-webkit-linear-gradient(#D2D2D2,#D2D2D2);
    background-image: -o-linear-gradient(#03a9f4,#03a9f4),-o-linear-gradient(#D2D2D2,#D2D2D2);
    background-image: linear-gradient(#282F42,#282F42),linear-gradient(#D2D2D2,#D2D2D2);
    -webkit-background-size: 100% 2px,100% 1px;
    background-size: 100% 2px,100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #2f384e;
}

/*=============================================*/
/*                      MENU                   */
/*=============================================*/


.menu-adm{
    padding: 0;
    height: 100%;
    background-color: #282F42;
}

.logo-adm{
    text-align: center;
    width: 100px;
    float:left;
}

.logo-print {
    display: none;
}

.nav-adm{
    float: right;
}


.logo-adm img{
    width: 100%;
}

@media (min-width: 1200px) { 
    .menu-adm {
        width: 12.8%;
    }
}

.pad-icons {
    color: #282f42;
}


.link-pad{
    color: #fff;
    text-transform: uppercase;
}

a.dropdown-toggle.link-pad {
    padding-top: 14px;
    padding-bottom: 13px;
}

.dropdown-menu li a:hover {
    background-color: transparent;
    color: #282f42!important;
}

.link-pad:hover, .link-pad:focus, .link-pad:visited {
    color: #282F42;
}

.sub-pad:hover, .sub-pad:focus{
    color: #282F42;
}

.footer article{
    text-align: center;
    width: 100%;
}

.footer{
    background-color: #282F42;
    color: #fff;
    height: 30px;
}


.boxes {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
}

.icon-inicio {
    font-size: 110px;
}

.header-adm{
    height: 52px;
    background-color: #282F42;
    border-bottom: 1px solid #ddd;
}

.icon-box{
    text-align: center;
}

.desc-box{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}


.drop-user{
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}

section.content {
    float: left;
    width: 100%;
    height: auto;
}

.forms h1{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.breadcrumb-adm{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

span.text-bread {
    display: inline-block;
    position: relative;
    top: 2px;
    padding-left: 7px;
}

i.material-icons.breadicon {
    color: #282f42;
    font-size: 15px;
}

.table-white{
    background-color: #fff;
}

._status {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

._ativo {
    background-color: green;
}

._inativo{
    background-color: red;
}

.miniatura{
    float: right;
}

a, a:focus, a:hover {
    color: #282f42;
}

section.form-outer {
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 9px; */
    display: table;
    width: 100%;
    margin-top: 0px;
    border-top: 0;
    border-bottom: 0;
    padding: 17px;
}


.btn-save {
    position: relative;
    right: -11px;
}

.btn-save button {
    color: #fff!important;
    background-color: #282f42!important;
}
.form-outer h1 {
    width: 90%;
    margin-left: 0%;
}

.titulo-listagem{

    width: auto!important;
    float: left;
}
.form-outer table.table.table-white.table-striped.table-hover {
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
}



.row.banner-list .col-md-12 {
    padding: 0;
}

.miniatura {
    float: right;
    padding: 0;
    border-radius: 10px;
}

.pager li {
    display: table;
    float: left;
    margin-left: 20px;
}

.pager li>a, .pager li>span{
    border-radius: 0;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 4px;
    border: 1px solid #ddd;
}

.icon-box {
    padding: 8px;
}

a.btn.btn-primary.btn-menu.right {
    padding: 0;
    background-color: #282f42;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    margin: 0;
    border-bottom: 2px solid #f4f4f4;
    float: left;
}

a.btn.btn-primary.btn-menu.right:last-child {
    border: 0!important;
}

.pad-white{
    font-size: 18px;
}

a.btn.btn-primary.btn-menu.right {
    background-color: #282f42;
    color: #fff;
    margin-top: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.btn-criar {
    display: table;
    float: right;
    position: relative;
    top: 24px;
    width: 10%;
}

.bt-listagem {
    width: auto!important;
    padding: 10px;
    border-radius: 45px;
}

a.btn.btn-primary.bt-listagem {
    display: block;
    color: #282f42;
    position: relative;
    float: left;
    left: 50%;
    margin-left: -22px;
}

a.btn.btn-primary.bt-listagem.right {
    display: block!important;
    /* background-color: red; */
    margin: 0 auto;
}

.alert.alert-success {
    display: block;
    clear: both;
    width: 100%;
    float: left;
}

.alert.alert-danger {
    width: 100%;
    margin-left: 0%;
}


.nav-app {
    float: right;
    background: transparent;
}


ul.nav.nav-app.nav-tabs {
    margin: 0!important;
    height: 52px;
}

ul.nav.nav-app.nav-tabs li.first {
    height: 52px;
}

ul.nav.nav-app.nav-tabs li.first a.first {
    padding: 16px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #282f42;
    text-decoration: none;
    background-color: #ffffff;
    outline: 0;
}

li.dropdown.first.user {
    border-left: 1px solid #ddd;
}

.group-dicas .form-control {
    margin-left: -15px!important;
}


.form-select .control-label {
    text-align: left;
    padding-left: 0;
}

.btn-edit {
    float: none;
    width: 45px!important;
}

img.preview-image {
    width: 220px;
}

.alert{
    display: table;
}

.panel-heading-login {
    background-color: #2E364B!important;
    text-align: center;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check {
    color: #2e364b;
    border-color: #2e364b;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check:before {
    color: #2e364b;
    -webkit-box-shadow: 0 0 0 10px,10px -10px 0 10px,32px 0 0 20px,0 32px 0 20px,-5px 5px 0 10px,20px -12px 0 11px;
    box-shadow: 0 0 0 10px,10px -10px 0 10px,32px 0 0 20px,0 32px 0 20px,-5px 5px 0 10px,20px -12px 0 11px;
}

.popup_crop{
    position: absolute;
}

.modal-content {
    width: 100%;
    background-color: #f4f4f4;
    height: 100%;
}

.modal-body {
    height: 100%;
}


.btn-upLoad {
    background-color: #282f42;
    color: #fff!important;
}

.form-right{
    float: right;
}

.box-timeline {
    border: 1px solid #ddd;
    display: table;
    padding: 13px;
    margin-top: 50px;
}

.box-timeline .form-outer{
    margin-top: 0!important;
}

.form-timeline {
    margin-top: 0;
}


.form-timeline label {
    margin-top: 0!important;
}


form.form-horizontal.form-banner{
    width: 100%;
    display: table;
}

.canvas-result {
    max-width: 100%;
}

.canvas-result canvas {
    max-width: 100%;
}



table.table.table-white.table-striped.table-hover.data-table {
    width: 100%;
    float: left;
}

.box-data-table{
    width: 100%;
    display: table;

}

.box-left-data-table {
    width: 50%;
}

.box-right-data-table {
    width: 49%;
    float: right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

td.text-center.td-image {
    width: 330px;
    display: block;
}


td.text-center.td-image img {
    width: 100%;
}

.required:before {
    content: "*";
    color: #f10303;
}

p.txt-alerta {
    color: #888888;
}

.col-md-12.grupo-upload-imagem {
    padding: 0;
}


.hide{
    display: none;
}

button.btn.btn-primary.btn-upLoad:hover {
    background-color: #282f42;
}

.btn-add-new{
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

button.swal2-confirm {
    background-color: #d41414!important;
}

button.swal2-cancel {
    background-color: rgb(15, 178, 252)!important;
}

.note-editor.note-frame {
    border: 1px solid #a9a9a9;
    margin-top: 41px;
}

.form-group.form-select.right.col-md-5.is-empty {
    padding-right: 45px;
}

form.form-horizontal {
    display: table;
}

.box-icon{
    background-color: #fff;
    border: 1px solid #ddd;
}

.box-icons-atalho {
    display: block;
    float: none;
    margin: 0 auto;
}

span.txt-buttons-show {
    display: block;
    transition: 0.5s all;
    overflow: hidden;
    float: left;
    padding-left: 3px;
    padding-right: 3px;
}

i.icone-menu.menu-home.pad-white.material-icons {
    float: left;
    padding-top: 1px;
}

.box-buttons {
    display: table;
    float: none;
    margin: 0 auto;
    min-height: 52px;
}

a.btn.btn-primary.btn-menu.right:first-child {
    margin-left: 0;
}

.box-login-app{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1023px){
    .header-adm{
        height: auto;
    }

    ul.nav.nav-app.nav-tabs{
        border: 0;
    }

    ul.nav.nav-app.nav-tabs {
        height: auto;
    }
}

img.load {
    position: absolute;
    /* margin-top: -70px; */
    width: 40px;
    bottom: 0;
    left: 17px;
}

a.btn.btn-primary.btn-menu.right.btn-add-new {
    border-radius: 0;
    float: right;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

button.swal2-confirm.styled.sucesso {
    background-color: #181c28!important;
}

p.remove-time {
    float: right;
    background: #c0392b;
    padding: 5px;
    color: #fff;
}

p.remove-time {
    float: right;
    background: #c0392b;
    padding: 5px;
    color: #fff;
    position: relative;
    cursor: pointer;
    z-index: 99999;
    color: #fff;
}

.box-timeline.deleted {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.25);
    color: #fff;
}

@media print {
    .titulo-listagem h1, ul.nav.nav-app.nav-tabs, .breadcrumb-adm {
        display: none;
    }
    
    section.form-outer {
        border: 0px;
    }
    
    .form-outer table.table.table-white.table-striped.table-hover {
        margin-top: 5px;
    }
    
    h1 {
        margin-top: 1px;
    }
    
    .logo-print {
        display: table;
    }
    
    .logo-ori {
        display: none;
    }
    
    .header-adm {
        border-bottom: 0px;
    }
    

}

textarea.form-control.resumo {
    height: 110px;
}

