/* css topo site */

html,
body {
    font: 14px "myriad-pro", sans-serif;
}


/* Inicio tela login*/

.painel {
    background-color: #282f42;
    color: #fff;
}

.box-bem-vindo>p {
    text-align: left;
    font-size: 0.85em;
}

.box-bem-vindo>h1,
.box-login-tela>h1,
.box-cadastro>h1 {
    font-size: 11px;
    padding: 5px 0 16px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.box-bem-vindo>h2,
.box-login-tela>h2,
.box-cadastro>h2 {
    font-size: 0.9em;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

.box-login-tela .form-group {
    margin-bottom: 0px;
    padding-left: 13px;
}

.box-cadastro .form-group {
    margin-bottom: 8px;
    padding-left: 13px;
}

.input-usuario {
    height: 59px;
}

.span12 {
    color: #959595;
    padding: 2px;
    width: 100%;
}

.texto-envio-email {
    font-size: 10px;
}

.label-form {
    font-weight: 500;
    font-size: 10px;
}

.btn-default {
    padding: 2px 15px 2px 15px;
}


/* Fim tela login*/

.topo {
    width: 1000px;
}

#bto-cadastro-login {
    color: #fff;
}

.topo-painel {
    width: 163px;
    float: right;
    font-size: 10px !important;
    font-weight: 200;
    letter-spacing: 1px;
    z-index: -1;
}

.login-header {
    background: rgba(40, 47, 66, 1);
    height: 30px;
}

.top-login {
    color: #fff;
    margin-bottom: 0;
    margin-left: 15px;
    z-index: 1;
}

.top-login li {
    display: inline;
    text-transform: uppercase;
    color: #fff;
}

.top-login li:first-child {
    border-right: 2px solid #fff;
    padding-right: 5px;
}

.top-login li a {
    color: #fff;
    font-size: 84%;
}

.top-login li a:hover {
    cursor: pointer;
    text-decoration: none;
}

.search-form {
    display: inline-block;
    float: right;
    position: relative;
    width: 10%;
}

.search-field,
.search-submit {
    height: 3rem;
}

.search-field {
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: 300;
    opacity: 0;
    padding-right: 3rem;
    width: 0;
    z-index: 3;
    text-transform: uppercase;
}

.search-field:focus {
    cursor: text;
    opacity: 1;
    outline: none;
    width: 100%;
    z-index: 1;
}

.search-field:focus:hover ~ .search-submit .fa-search {
    color: #FFFFFF;
}

.search-field:hover ~ .search-submit .fa-search {
    color: white;
}

.fa-expand {
    margin-right: 5px;
}

.search-submit {
    /* -webkit-transition: all 0.2s ease-in-out; */
    /* transition: all 0.2s ease-in-out; */
    background-color: transparent;
    border: none;
    float: right;
    position: absolute;
    height: auto;
    right: 0;
    /* width: 3rem; */
    z-index: 2;
}

.search-submit:hover .fa-search {
    color: white;
}

.fa-search {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
    font-size: 2.25rem;
}


/* NavegaÃ§Ã£o principal */

.navbar-default {
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#282f42', endColorstr='#3a4660', GradientType=0);
    border: 0;
    border-radius: 0;
    height: auto;
    text-transform: uppercase;
    background-color: #333d53;
    color: #c8c8c8;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #666;
}

.navbar-default .navbar-nav>li {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a {
    color: #c8c8c8;
    font-size: 80%
}

.nav>li>a {
    padding: 8px;
}


/*.dropdown-menu {
    width: 700px;
}

.dropdown-menu .col-md-3 li {padding-left: 15px;}
.dropdown-menu .col-md-3 li>a {color:#666;}
*/

.dropdown-menu.search {
    width: auto;
    background: transparent;
    box-shadow: none;
    border: 0;
    width: 185px;
}

.form-search-input {
    text-transform: uppercase;
    font-size: 11px;
    padding: 0px 5px;
    min-height: 24px;
    margin: 0px 0px 0px 0;
    cursor: pointer;
    border: none;
    background: none;
    width: 150px;
    margin: 0px 1px 0px 0;
    padding: 0px 5px 1px 0;
    min-height: 23px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    font-size: 11px;
    letter-spacing: 2px;
}

.search button {
    color: #000;
    text-transform: uppercase;
    border: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: #c8c8c8;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #c8c8c8;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background: transparent;
    color: #c8c8c8;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    margin: 27px 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

#bs-example-navbar-collapse-1 {
    margin: 30px 0;
}

.navbar-default .navbar-toggle {
    border-radius: 0;
}

.navbar-brand img {
    width: 100%;
}

.imab {
    padding: 0px;
    margin: 0px;
    list-style: none;
    height: 40px;
}

.produtos {
    min-width: 650px;
}

.produtos li {
    display: block !important;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 10px;
    color: #e50051;
}

.produtos li a {
    color: #000;
    text-transform: uppercase;
    font-weight: 200;
}

.produtos li a:hover {
    text-decoration: none;
}


/* Topo Site Fim */


/* Breadcrumbs Inicio */

.breadcrumb {
    margin-bottom: 0;
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
    background: #fff;
    padding: 5px 0;
}

.breadcrumb a {
    color: #6c6c6c;
    text-transform: uppercase;
}

.breadcrumb ul li:last-child {
    font-weight: 700;
}


/* Inicio Banners*/

.box-banners {
    padding: 0;
    margin: 0;
}

.box-banners>img {
    display: block;
    width: 100%;
    height: auto;
}

#myCarousel .carousel-indicators li {
    display: inline-block;
    border-radius: 0px;
    width: 40px;
    height: 12px;
    margin: 0;
}

#myCarousel .carousel-indicators .active {
    display: inline-block;
    border-radius: 0px;
    width: 40px;
    height: 12px;
}

.carousel-indicators {
    text-align: left;
}

.first-slide {
    width: 100%;
}


/*#myCarousel .item {
    height: 500px;
}*/

#myCarousel .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    height: 500px;
}

#myCarousel .carousel-fade .carousel-inner .item,
#myCarousel .carousel-fade .carousel-inner .active.left,
#myCarousel .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

#myCarousel .carousel-fade .carousel-inner .active,
#myCarousel .carousel-fade .carousel-inner .next.left,
#myCarousel .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

#myCarousel .carousel-fade .carousel-inner .next,
#myCarousel .carousel-fade .carousel-inner .prev,
#myCarousel .carousel-fade .carousel-inner .active.left,
#myCarousel .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#myCarousel .carousel-fade .carousel-control {
    z-index: 2;
}

#myCarousel .carousel-control {
    background: transparent;
}


/*#myCarousel .carousel-control.left {
    margin-left: 450px;
    margin-bottom: 500px; color: #fff;
}
#myCarousel .carousel-control.right {
    margin-right: 450px;
    margin-bottom: 500px;
    color: #fff;
} */


/* banners fim */


/* Inicio Destaque */

.box-destaque {
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#293043', endColorstr='#3b4662', GradientType=0);
    height: auto;
    font: 13px "myriad-pro", sans-serif;
    background-color: #333d53;
}

.box-texto-destaque {
    font: 13px "myriad-pro", sans-serif;
    color: #BCBCBC;
    text-align: center;
    margin-top: 85px;
}

.box-produto-destaque {
    font: 13px "myriad-pro", sans-serif;
    color: #BCBCBC;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.box-destaque p {
    padding: 0 25px 0 25px;
    font-size: 13px;
}

.box-texto-destaque h2,
.box-produto-destaque h2,
.inside-box-watch-video h2 {
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 0 0 5px;
    text-align: center;
    color: #fff;
}

.box-produto-destaque h2 {
    margin: 11px 0 5px;
}

.bto-produtos-destaque-info {
    background: rgba(108, 116, 134, 0.7);
    padding: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    width: 150px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    box-shadow: none;
    border: 0;
}

.bto-dicas {
    background: rgba(108, 116, 134, 0.7);
    padding: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    width: 120px;
    display: block;
    text-transform: uppercase;
    box-shadow: none;
    border: 0;
    text-shadow: none;
}

.bto-dicas:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(108, 116, 134, 0.2);
}

.box-destaque a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.bto-produto-destaque {
    background: #fff;
    border: none;
    padding: 10px;
    text-transform: uppercase !important;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
    color: #272f42;
    font-weight: 200;
    width: 100%;
}

.circle-play {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
}

.circle-play i {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 18px;
}

.box-watch-video {
    background: rgba(58, 70, 97, 0.7);
    display: block;
    width: 60%;
    margin: 30px auto;
    padding: 40px;
}

.inside-box-watch-video {
    border: 1px solid #fff;
    padding: 40px;
}

.inside-box-watch-video p {
    color: #fff;
    text-align: center;
}

.inside-box-watch-video h4 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 10px 0;
}

.inside-box-watch-video a {
    cursor: pointer;
    text-decoration: none;
}

.inside-box-watch-video a:hover {
    text-decoration: none;
}


/* Fim Destaque */


/* Header */

.header-historia {
    background: #e4e4e4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-historia h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-historia p {
    width: auto;
    margin: auto;
    color: #6c6c6c;
    text-align: left;
    margin-bottom: 10px;
}


/* Header valores */

.header-valores {
    background: #e4e4e4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-valores h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-valores p {
    width: auto;
    margin: auto;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 10px;
}

.email-label label {
    width: auto !important;
}


/* Fim do header */


/* Content box */

.content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.timeline {
    background: #30394f;
}

.titulo-timeline {
    color: #e4e4e4;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
}

.historia {
    background: #30394f;
    padding: 40px 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}


/* TIMELINE */


/* Fim do Content box */


/* CTA */

.cta {
    background: #ccc url(../assets/imagens/porta2.jpg);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 0px -94px;
}

.cta h1 {
    margin: 0 0 10px 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 26px !important;
    text-transform: uppercase;
    text-align: center;
}

.cta p {
    text-align: center;
    color: #fff;
}

.cta button {
    display: block;
    margin: 0 auto;
    background: #fff;
    border: 0;
    padding: 10px;
    color: #606b7e;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* FIM DO CTA */


/* linha do tempo */

#img_doismilequinze {
    background: url(../assets/imagens/hist1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

.linhadotempo_um {
    background: #333d53;
    height: 350px;
    border-left: 10px solid #272f42;
}

.linhadotempo_um h1 {
    /*transform: rotate(90deg);
    transform-origin: left top 0;

    margin-left: 30px;
    float: left; */
    color: #e4e4e4;
    font-size: 60px;
    float: left;
    /*   -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      -moz-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl; */
    writing-mode: vertical-rl;
    margin: 100px 0;
}

.linhadotempo_dois .text-box {
    float: left;
    width: 80%;
    padding: 40px;
}

.linhadotempo_um .text-box {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 40px;
}

.text-box img {
    display: block;
    margin: 0 auto;
}

.linhadotempo_um h3 {
    color: #e4e4e4;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}

.linhadotempo_um p {
    color: #e4e4e4;
}

.linhadotempo_dois {
    background: #333d53;
    height: 350px;
    border-right: 10px solid #272f42;
}

.linhadotempo_dois h1 {
    color: #e4e4e4;
    font-size: 60px;
    float: right;
    /*   -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      -moz-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl; */
    writing-mode: vertical-lr;
    margin: 100px 0;
}

.linhadotempo_dois h3 {
    color: #e4e4e4;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}

.linhadotempo_dois p {
    color: #e4e4e4;
}


/* Box info produtos */

.produtos-info {
    background: #e4e4e4;
}

.duvidas-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-duvidas a {
    color: #fff;
}

.box-duvidas a:hover {
    text-decoration: none;
}

.box-duvidas a img {
    margin-right: 10px;
}

.box-duvida h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.box-duvida h5 {
    color: #929292;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    border: 0;
    margin: 20px 0;
}

.box-duvida h4 {
    /*    color: #6c6c6c;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

a.collapsed {
    color: #fff;
}

.garantia {
    padding-left: 0;
    list-style: none;
}

.box-info-produto {
    padding: 0;
}

.box-info-produto h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.box-info-produto h5 {
    color: #929292;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.box-info-produto h4 {
    color: #6c6c6c;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.box-info-produto ul {
    text-align: center;
    padding-left: 0;
}

.box-info-produto ul > li {
    display: inline;
    font-size: 22px;
    color: #3a4661;
}

.box-info-produto p {
    text-align: center;
    color: #6c6c6c;
}

.box-info-produto button {
    background: #3a4661;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    display: block;
    margin: 0 auto;
}

.img-escolha-produto {
    padding: 0;
}

.img-escolha-produto img {
    width: 100%;
}

.acabamentos {
    border-top: 1px solid #cfcfcf;
    display: block;
    width: 100%;
    height: 50px;
}

.acabamentos h3 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.superficies {
    border-top: 1px solid #cfcfcf;
    display: block;
    width: 100%;
    height: 50px;
}

.superficies h3 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.info-interna {
    padding: 30px;
}

.desenhot img {
    width: 100%;
}

.desenhot {
    background: #fff;
    padding: 30px 0;
}

.fa-download {
    color: #3a4661;
    font-size: 16px !important;
    margin-left: 5px;
}

.desenhot h3 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.desenhot .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #272f42;
    color: #fff;
}

.desenhot .table-striped > tbody > tr:last-child {
    border-bottom: 3px solid #272f42;
}

.prod-thumb img {
    display: block;
    margin: 0 auto;
}

.prod-thumb h3 {
    text-align: center;
    text-transform: uppercase;
    color: #bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 14px;
    padding: 0!important;
    margin: 10px 0 0 -20px;
}

.prod-thumb:hover {
    text-decoration: none;
}

.door {
    float: right;
    /*    width: 100%;*/
}

.subscribe {
    padding-left: 0;
}

.subscribe .list__item {
    float: left;
    margin-right: 20px;
}

.list {
    padding-left: 0;
    list-style: none;
    margin-top: 3px;
}

li.list__item {
    margin-top: 1px;
}

.label--radio {
    position: relative;
    left: 15px;
    color: #989da5;
    font-weight: 300;
}

.label--checkbox {
    font-weight: 300;
    color: #989da5;
    font-size: 15px;
}

.checkbox {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    float: left;
}

.checkbox:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 0.1875rem;
    top: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid #2d364c;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #f2f2f2;
    cursor: pointer;
}

.radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    float: left;
}

.radio:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0.100rem;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    background: #2d364c;
    border-radius: 50%;
}

.radio:checked:before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio:after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.125rem;
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    border: 2px solid #e4e4e4;
    border-radius: 50%;
}

.carousel-outrosp h2 {
    text-transform: uppercase;
    color: #bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 16px;
    margin-top: -7px;
    margin-left: -40px;
}

.carousel-outrosp {
    background: #2d364c;
    padding: 25px 15px 35px 15px;
    margin-bottom: 15px;
}

.carousel-outrosp .carousel {
    margin-bottom: 0;
    padding: 0 60px;
}


/* The controlsy */

.carousel-outrosp .carousel-control {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    margin-top: 100px;
    margin-right: 10px;
}

.carousel-outrosp .carousel-control.right {
    right: -12px;
}


/* The indicators */

.carousel-outrosp .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}


/* The colour of the indicators */

.carousel-outrosp .carousel-indicators li {
    background: #cecece;
}

.carousel-outrosp .carousel-indicators .active {
    background: #428bca;
}

.carousel-outrosp .carousel-inner {
    margin-left: 1px;
}

.carousel-outrosp .carousel-control i {
    padding: 10px 0;
}


/* Fim box info */


/* carousel-modelos */

.carousel-modelos h2 {
    text-transform: uppercase;
    color: #bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.carousel-modelos {
    background: #2d364c;
    padding-left: 10px;
    margin-top: 17px;
    margin-right: -30px;
    padding-right: 20px;
    padding-top: 10px;
    height: 227px;
}

.carousel-modelos .carousel {
    margin-bottom: 20px;
    padding: 0 40px;
}


/* The controlsy */

.carousel-modelos .carousel-control {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    margin-top: 89px;
}

.carousel-modelos .carousel-control.right {
    right: -12px;
}


/* The indicators */

.carousel-modelos .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}


/* The colour of the indicators */

.carousel-modelos .carousel-indicators li {
    background: #cecece;
}

.carousel-modelos .carousel-indicators .active {
    background: #428bca;
}

.carousel-modelos .carousel-inner {
    margin-left: 6px;
    margin-top: -5px;
}

.carousel-modelos .carousel-control i {
    padding: 10px 0;
}


/* Fim box info */


/* Personalize sua maÃ§aneta */

.custom-interna .panel-default>.panel-heading {
    background: #fff;
    padding: 20px 0 !important;
}

.panel-heading a:focus,
.panel-heading a:hover {
    text-decoration: none;
}

.panel-body a:hover {
    text-decoration: none;
}

.custom-interna button {
    width: 100% !important;
    margin: 0;
    padding: 30px 0;
}

.custom-interna .panel-group {
    margin-bottom: 0;
}


/* Fim do personalize */


/* Box de textos */

.valoresh {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #30394f;
    color: #fff;
}

.valoresh .cont {
    position: relative;
    line-height: 1.5;
}

.valoresh .cont .placeholder {
    width: 100%;
    height: 21rem;
    margin: 0 0 1.4rem;
    float: left;
}

.inova {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #30394f;
    color: #fff;
}

.inova img {
    width: 100%;
}

.inova .cont {
    position: relative;
}


/* Fim do box de textos */


/* PÃ¡gina de Linhas */

.products {
    background: #e4e4e4;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-pr {
    background: transparent;
}

.products .filtro {
    background: #fff;
}

.filtro img {
    width: 100%;
}

.show-pr {
    background: #fff;
    padding: 20px 20px 1px 20px;
}

.result {
    margin-left: 15px;
}

.result p {
    text-transform: uppercase;
    float: left;
    color: #989da5;
}

.result p a {
    color: #0f305a;
}

.result p a:hover {
    text-decoration: none;
}

.result button {
    background: #0f305a;
    border: 0;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: -2px;
}

.linha-filtro {
    border-left: 2px solid #e4e4e4;
    height: 200px;
    overflow-y: scroll;
    padding-left: 10px;
    text-transform: uppercase;
}

.filtro {
    padding: 0;
}

.custom-menu {
    background: #fff;
    padding: 0;
}

.custom-menu h4 {
    color: #333d53;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.custom-menu .row {
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.det-prod {
    background: #fff;
    padding: 0;
    padding-left: 5px;
    /*    z-index: 999999;*/
    height: 484px;
}

.det-prod div {
    margin-top: 0px;
}

.det-prod span,
.det-prod h3,
.det-prod p {
    display: inline-block;
}

.det-prod span {
    color: #989da5;
    font-size: 14px;
}

.codigo-prod p {
    color: #989da5 !important;
    font-size: 13px !important;
    float: right;
    padding-right: 50px;
    position: relative;
    top: -15px;
    margin: -16px;
}

.det-prod h4 {
    color: #333d53;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
}

.det-prod .row {
    margin: 0;
    padding: 7px;
}

.det-prod button {
    position: relative;
    top: 20px;
    margin-left: 0 !important;
    text-transform: uppercase;
}

button.superficie {
    position: relative;
    top: 0 !important;
    border: 0;
    background-color: transparent;
    margin-right: -10px;
}

.det-prod button i {
    margin-right: 15px;
}

.filtro .row {
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.filtro h4 {
    color: #989da5;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

.result-p {
    border-bottom: 1px solid #e4e4e4;
    margin: 40px -33px 40px -20px;
    padding-left: 20px;
}

.result-p:last-child {
    border-bottom: 0;
}

/*
.result-p img {
    width: 90%;
}
*/

.result-p h4 {
    color: #323c52;
    margin-bottom: 0;
    font-weight: 500;
}

.result-p p {
    color: #b3b3b3;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 2px;
}

.products #paginacao ul {
    margin-top: 5px;
}

.products #paginacao ul li {
    color: #272f42;
}

.person-f p {
    color: #5f636a;
    font-size: 13px;
}

.person-f a button {
    background: #333d53;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    font-weight: 400;
}

.search-linha {
    width: 100%;
    margin-bottom: 5px;
    background: #e4e4e4;
    border: 0;
    box-shadow: none;
    padding: 3px;
    text-transform: uppercase;
}

.products form p {
    margin-bottom: 5px;
}

.products form p label {
    margin-bottom: 0;
    color: #989da5;
    font-weight: 300;
}

.products input[type="checkbox"] {
    border-radius: 0;
    margin-right: 5px;
}

.filtro .linha-filtro p {
    margin-bottom: 5px;
}

.filtro .linha-filtro p label {
    margin-bottom: 0;
    color: #989da5;
    font-weight: 300;
}

.custom-menu .linha-filtro p {
    margin-bottom: 5px;
}

.custom-menu .linha-filtro p label {
    margin-bottom: 0;
    color: #989da5;
    font-weight: 300;
}

ul.categoriaprod {
    margin: 0.75em 0;
    padding: 0;
    list-style: none;
}

.filtro-dica .row {
    border-bottom: 1px solid #e4e4e4;
}

.filtro-dica .row:last-child {
    border-bottom: 0;
}

.busca-dicas input {
    margin-bottom: 20px;
    width: 90%;
    float: left;
    border: 1px solid #989da5;
}

.busca-dicas i {
    color: #989da5;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.2;
}

.tags-dicas {
    padding-left: 0;
}

.tags-dicas li {
    display: inline;
}

.tags-dicas li a {
    color: #989da5;
    font-weight: 300;
}

.sociais {
    padding-left: 0;
}

.sociais li {
    display: inline;
    padding: 0 10px;
    font-size: 20px;
}

.sociais li a {
    color: #333d53;
}

ul.categoriaprod li a {
    color: #989da5;
    font-weight: 300;
    line-height: 1.5;
    font-size: 15px;
    padding-left: 5px;
}

ul.categoriaprod li a:hover {
    text-decoration: none;
}

ul.categoriaprod li a.active {
    color: #323c52;
}

.pag {
    margin: 0;
}

.filtro-dica {
/*    width: 100%;*/
    background: #fff;
    margin-bottom: 20px;
    display: inline-block;
    
}

.filtro-dica h4 {
    color: #333d53;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.ambiente-input #box2,
.ambiente-input #box3 {
    margin-left: 10px;
}

.ambiente-input label {
    color: #666;
    font-weight: 300;
}

.single-dica-post img {
    width: 50%;
    float: right;
    margin: 0 0 20px 20px;
}

.single-dica-post a {
    text-decoration: none;
    color: rgba(156, 198, 239, 1);
}

.single-dica-post a:hover {
    text-decoration: none;
    color: rgba(156, 198, 239, 1);
}

.mais-news {
    background: #e4e4e4;
    padding: 0px;
    width: 25%;
    float: right;
    margin-right: 15px;
}

.mais-news ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.mais-news ul > li {
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #fff;
}

.mais-news ul > li > a {
    color: #333d53;
    padding: 5px;
    display: block;
}


/* Grid Dicas */

.grid-dicas {
    background: #333d53;
    padding-top: 30px;
    padding-bottom: 30px;
}

.grid-dicas .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid-dicas .col-md-4 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
}

.grid-dicas .panel {
/*    width: 100%;*/
    border-radius: 0;
    background: #212C44;
    border: 0;
}

.grid-dicas .panel-default>.panel-heading {
    border: 0;
    padding: 0;
    height: 249.7px;
    overflow: hidden;
}

.grid-dicas .panel-default>.panel-heading img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.grid-dicas .panel-body h3 {
    margin-top: 0;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 0;
    font-size: 12px;
}


.grid-dicas .panel-body h2 {
    margin-top: 0;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #fff;
    margin-top: 0;
    font-size: 16px;
    height: 35px;
}

.grid-dicas .panel-body p {
    color: #BCBCBC;
    height: 164px;
    overflow: hidden;
}

.leiamais {
    color: #E50052;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 2px;
}

#paginacao {
    width: 100%;
    text-align: center;
}

#paginacao ul {
    float: right;
}

#paginacao ul li {
    display: inline;
    margin: 0 3px;
    color: #bcbcbc;
}


/* SINGLE DICAS */

.single {
    background: #333d53;
    padding-top: 30px;
    padding-bottom: 30px;
}

.single .col-md-9 {
    color: #fff;
    text-decoration: none;
    margin-left: -15px;
}

.single h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
}

.tags h3 {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}

.date h3 {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}

.share h3 {
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}

.result-tag {
    background: #e4e4e4;
    padding: 5px;
    margin-bottom: 10px;
}

.result-tag ul {
    padding-left: 0;
    margin-bottom: 0;
}

.result-tag ul > li {
    display: inline;
}

.result-data {
    background: #e4e4e4;
    padding: 5px;
    margin-bottom: 10px;
}

.result-data p {
    margin-bottom: 0;
}

.result-share {
    background: #e4e4e4;
    padding: 0px;
}

.result-share ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.result-share ul > li {
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #333d53;
}

.result-share ul > li > a {
    color: #333d53;
    padding: 5px;
    display: block;
}

.result-share ul > li:last-child {
    border-bottom: 0;
}


/* FIM DAS DICAS */


/* Produtos catalogo */

.produtos-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.produtos-list h4 {
    text-transform: uppercase;
    font-size: 18px;
}

.produtos-list button {
    background: #3a4661;
    border: 0;
    padding: 5px;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 20px;
}

.produtos {
    padding-left: 0px;
}

.produtos img {
    display: block;
    margin: 0 auto;
}


/* FIM PRODUTOS */


/* MODAL DE LOGIN */

.modal-content {
    border-radius: 0;
    background: #333d53;
    display: table;
}

.modal-header {
    color: #ffffff;
    font: 14px "myriad-pro", sans-serif;
    padding-bottom: 0;
    font-weight: 200;
}

.modal-header h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.modal-body label {
    margin-bottom: 0;
    color: #ffffff;
    font: 14px "myriad-pro", sans-serif;
    font-weight: 200;
}

.close {
    text-shadow: none;
    color: #fff;
    opacity: 1;
}

input#signup__email {
    width: 100%;
}

.form__control {
    /*    width: 320px;*/
    display: block;
    background: #212C44;
    margin: 5px 0;
    height: 45px;
    line-height: 30px;
    padding: 5px 5px;
    color: #BCBCBC;
    box-shadow: none;
    border: 0;
}

.btn {
    background: #e50051;
    padding: 10px;
    color: #fff;
    width: 50%;
    border: 0;
    border-radius: 0;
}

#ForgotModal .modal-content {
    height: 230px;
    width: 300px;
    z-index: 99999;
}

#SignModal .form__group {
    margin-bottom: 0;
    margin-top: 15px;
}

._64-email {
    background: #212C44 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAA7UlEQVR4Aa2VCQ2EMBREawELWKgFLKwFLNRCLWABC1jAwF4WsMBy/E1+JsMxSZM8bt70bvi8XneJC8kId1DE08LXzsNCpcnPxR3cjxAgy9uF2YmDEiCJ1QBVjNQmpwGyGDEpDaBiGG5KwLQQmbwzccsFeoAuFgKs18/bWKQ2eb/eNAuzkUqU3FyDk1+Okvwvkes0TzTxd6FHebAAnBiV65NMRgWbUInJ8cMIMuy0hwEFInII+C7MICZDF5pSkI9EzALyqVxc8VCEpUe5LubrEe/QBncZkcYVLIO8wCy1mvtJVNtNaTpfpVSQdqH6ARac3tEPInsoAAAAAElFTkSuQmCC') left 8px center no-repeat;
    padding-left: 40px;
}

._64-senha {
    background: #212C44 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAXCAYAAADpwXTaAAAAuUlEQVR4AcXUUY0DIRCH8bGABSxgYS3UwloYC1g4LVhAwebWAhbo12QeNlzKUkJ6m/ye/sn30AmV3vd7HB56sUPekc4YUVGQkFFxInwS+7GIQi48sm1hJBZQ8Wg343AijcQiTkjHjgp3F0tGOjaLbSMxhfR8NeZtzHbN7UaFXoPNDzotw4ldpCJCJngUxD+XmZReRmMBbkVMbS/rYlgRaw80HzMVuipWoP97zSkWW/oCFr/N5l9jijWe5ji9FMKDOfwAAAAASUVORK5CYII=') left 8px center no-repeat;
    padding-left: 40px;
}

.forgot__password {
    text-decoration: none;
    color: #ffffff;
    font: 14px "myriad-pro", sans-serif;
    font-weight: 200;
    float: right;
}

.forgot__password:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.login__options {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
}

.login__options .label--checkbox input {
    margin-right: 10px;
}

.form__group {
    margin-bottom: 15px;
}

.form__group input {
    background-color: #333d53;
    border: 0;
    padding: 10px;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
}

.rec-senha {
    background-color: #5a6377 !important;
}

.new-senha {
    color: #fff;
    font-weight: 200;
}

.input-senha {
    width: 50% !important;
}

.form__group a {
    background-color: #5a6377;
    border: 0;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

h5 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    line-height: 0.1em;
    margin: 30px 0 20px;
}

h5 span {
    background: #fff;
    padding: 0 10px;
}

.signup__link a {
    text-decoration: none;
    color: #ffffff;
    font: 14px "myriad-pro", sans-serif;
    font-weight: 200;
    cursor: pointer;
}

.signup__link {
    font-weight: 600;
}

.signup__link span {
    color: #ffffff;
    font: 14px "myriad-pro", sans-serif;
    font-weight: 200;
}


/*!
* Yamm!3
* Yet another megamenu for Bootstrap 3
*
* http://geedmo.github.com/yamm3
*/

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.yamm .yamm-content {
    padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    right: 0;
    background: #c8c8c8;
    border-radius: 0;
    border: 0;
    padding-bottom: 28px;
}

.yamm .dropdown.yamm-fw .dropdown-menu.withc {
    width: 200%;
    padding: 0 20px 0 0;
    margin-right: -395px;
    position: absolute;
    z-index: 9999;
}

ul.dropdown-menu.withc {
    margin-left: -140px;
    padding: 20px;
}

.yamm .dropdown.yamm-fw .dropdown-menu .item-menu {
    width: 14.28%;
    float: left;
    padding: 10px;
}

.yamm .dropdown.yamm-fw .dropdown-menu .item-menu h3 {
    margin: 5px 0 0 0;
    text-align: center;
}

.yamm .dropdown.yamm-fw .dropdown-menu .item-menu img {
    display: block;
    margin: 0 auto;
}


/*
.yamm .dropdown.yamm-fw .dropdown-menu .item-menu:last-child h3 {
    text-align: left;
    margin-left: 15px;
}
*/

.yamm .dropdown.yamm-fw .dropdown-menu .item-menu:last-child img {
    margin: 0;
}

.withc .grid-demo {
    padding: 0;
}

.custom {
    background: #aaaaaa;
}

.custom a:hover img {
    border: 0;
}

.yamm .dropdown.yamm-fw .dropdown-menu a h3 {
    color: #0f305a;
    font-size: 14px;
    margin: 0;
    height: 40px;
    vertical-align: middle;
}

.yamm .dropdown.yamm-fw .dropdown-menu a p {
    color: #2f2f2f;
}

.yamm .dropdown.yamm-fw .dropdown-menu a:hover {
    text-decoration: none;
}

.list-unstyled,
.list-unstyled ul {
    min-width: 120px
}

.categ-busca-img img {
    width: 350px;
    height: 200px;
}

.categ-busca h3 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #333d53;
    margin-top: 0;
}

.categ-busca p {
    line-height: 22px;
    padding-right: 40px
}

.space-busca {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 15px;
    padding-top: 15px;
}

@media (max-width: 1199px) {
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu img {
        width: 110%;
        display: block;
        margin: 0 auto;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu {
        width: 14.28%;
        float: left;
        padding: 17px;
    }
    .det-prod div {
        margin-top: -12px;
    }
    .det-prod {
        background: #fff;
        padding: 0;
        padding-left: 5px;
        height: 400px;
    }
    .person-f a button {
        margin-top: 7px;
    }
    .det-prod button {
        top: 10px;
    }
    .campo-personalizacao-prd img {
        clip: rect(0px, 623px, 548px, 0px) !important;
    }
    .row.login-user {
        padding: 40px 5px 10px 5px !important;
        float: right !important;
        width: 57% !important;
        margin-right: -40px;
        background-color: rgba(108, 116, 134, 0.7) !important;
    }
    ul.nav.navbar-nav {
        margin-left: -48px;
    }
    
    .box-duvidas, .box-fale-conosco {
        padding-top: 35px !important;
    }
    
    .box-rede-social {
        padding-left: 85px !important;
        float: right
    }
    

}

@media ( min-width: 767px) {
    .thumbnail {
        margin: 0;
    }
}


/* Grid demo styles */

.grid-demo {
    padding: 15px;
}

.grid-demo [class*="col-"] {
    text-align: center;
}


/* Inicio Duvida Contato Social */

.box-duvida-contato-social {
    background-color: #272f42;
    height: auto;
}

.box-duvidas,
.box-fale-conosco,
.box-rede-social {
    color: #fff;
    padding-top: 25px;
    letter-spacing: 4px;
}

.box-duvidas>div,
.box-fale-conosco>div {
    padding-left: 43px;
}

.box-rede-social {
    padding-left: 150px;
    padding-bottom: 20px;
    color: #FFF;
/*    padding: 20px;*/
    float: right;
    letter-spacing: 4px!important;
}



.redes {
    padding-left: 10px;
    float: left
}

.redes li {
    display: inline;
    font-size: 28px;
}

.redes li a {
    color: #fff;
}

.map {
    width: 100%;
    height: 400px;
    margin-top: -30px;
}


/* Fim  */


/* Inicio Footer  width: 258px !important; */

.box-footer {
    height: auto;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}


.box-footer-Fale-conosco {
    margin-left: 39px;
}

.box-footer-personalize {
    margin-left: -39px;
}


/* posicionamento container institucional */


/* posicionamento container produto */


/*
.box-footer-produtos{
    width: 500px;

}
*/


/* posicionamento container fale-conosco */


/*
.box-footer-Fale-conosco{
    width: 200px;

}
*/


/* posicionamento container footer-conteudo */

.box-footer-conteudo {
    margin: 0 auto;
}


/* posicionamento container box-copyright */

.box-copyright {
    padding-top: 20px;
}

.box-copyright span {
    font-size: 12px;
    margin-right: 80px;
}


/* titulo h3 de cada ul */

.box-footer-institucional>h3,
.box-footer-conteudo>.box-footer-Fale-conosco>h3,
.box-footer-produtos>h3 {
    font: 24px "myriad-pro", sans-serif;
    text-transform: uppercase !important;
    color: #3a4661 !important;
}


/* definindo font e tamanho para toda descriÃ§Ã£o do footer */

.box-footer-conteudo>.box-footer-institucional>ul,
.box-footer-conteudo>.box-footer-produtos>ul,
.box-footer-conteudo>.box-footer-Fale-conosco>ul,
.texto-copyright,
.texto-create-by {
    font: 14px "myriad-pro", sans-serif;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    color: #235fb2;
    text-decoration: none !important;
    margin-top: 10px;
}

.box-footer-conteudo>.box-footer-institucional>ul>li>a,
.box-footer-conteudo>.box-footer-produtos>ul>li>a,
.box-footer-conteudo>.box-footer-Fale-conosco>ul>li>a {
    color: #959595;
}

a.link-footer:link,
a.link-footer:visited,
a.link-footer:hover,
a.link-footer:active {
    color: #235fb2;
    text-decoration: none;
}

.box-footer-produtos .col-md-4 {
    padding-left: 0;
}

.box-produto1-ul {
    padding-left: 0;
    font-size: 14px;
    list-style: none;
    color: #235fb2;
    font: 14px "myriad-pro", sans-serif;
}

.box-produto1-ul>li> a {
    color: #959595 !important;
    ;
}

.box-produto2-ul>li>a {
    color: #959595 !important;
}

.box-produto2-ul {
    padding-left: 0;
    font-size: 14px;
    list-style: none;
    color: #235fb2;
    font: 14px "myriad-pro", sans-serif;
}

.texto-copyright {
    float: left;
    color: #235fb2;
}

.texto-create-by {
    float: right;
    color: #235fb2;
    text-decoration: none!important;
}

.link-footer img {
    width: 40%;
    float: left;
}

.link-footer p {
    margin-top: 10px;
}


/* Fim  */


/* PÃ¡gina Arquivos Digitais */

#faleconosco-right input[type="submit"] {
    background: #e50051;
    padding: 10px;
    color: #fff;
    border: 0;
    margin-top: 5px;
    text-decoration: none;
}

#faleconosco-right a {
    color: #aaa;
    text-decoration: underline;
}


/*Minha Conta*/

.minha-conta {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
}

.dados-conta {
    border-bottom: 1px solid #e4e4e4;
    margin: 0 -20px 10px -20px;
    padding-left: 25px;
    font-size: 13px;
    line-height: 7px;
    color: #aaaaaa;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
}

.dados-conta h4 {
    color: #333d53;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 12px;
}

.dados-conta span {
    font-weight: 600;
}

.panel-heading {
    background-color: #333d53 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

.panel-title {
    font-size: 14px;
}

.panel-heading i {
    margin-right: 20px;
}

.fa-check {
    -ms-transform: rotate(225deg);
    /* IE 9 */
    -webkit-transform: rotate(225deg);
    /* Chrome, Safari, Opera */
    transform: rotate(135deg) scaleX(-1);
}

.fa-plus {
    float: right;
    margin-right: 5px !important;
}

.tabela-pers {
    padding: 2px !important;
    height: auto;
    margin-bottom: -20px;
}

.table-bordered>tbody>tr>td {
    border: 1px solid rgba(221, 221, 221, 0.4);
}

.table-bordered tr:first-child {
    background-color: #c8c8c8;
    color: #333d53;
    font-weight: 700;
    text-transform: uppercase;
}

.table-bordered tr {
    background-color: #fff;
    color: #333d53;
    font-weight: 400;
    text-transform: uppercase;
}

.contato-conta {
    padding-left: 30px;
    color: #333d53;
}

.contato-conta h4 {
    font-size: 15px;
}

.contato-conta h4:first-child {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.duvida-conta {
    background-color: #333d53;
    padding: 20px 20px 10px 30px;
    font-size: 20px;
    margin-top: 10px;
}

.duvida-conta p {
    color: #fff !important;
    display: inline-block;
}

.duvida-conta i {
    margin-right: 15px;
    color: #fff;
    font-size: 45px;
    position: relative;
    top: -5px;
}

.alterar-senha {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}

.alterar-senha h4 {
    font-size: 15px;
    padding-top: 10px;
}

.form__control_perfil {
    width: 100%;
    display: block;
    background: #ededea;
    margin: 5px 0;
    height: 45px;
    line-height: 30px;
    padding: 5px 10px;
    color: #212c44;
    box-shadow: none;
    border: 0;
}

.select-perfil {
    background: #ededea;
    color: #212c44;
}

.btnEnviar {
    background-color: #212c44;
    color: #fff;
}

.btnEnviar:hover {
    color: #fff;
}

.lista-desejos img {
    height: 170px;
    margin-left: -40px;
}

.senha-alt,
.senha-alt input {
    width: 300px;
}

.lista-dados {
    border-left: 1px solid #e4e4e4;
    padding-left: 50px;
}

.lista-dados span {
    display: inline-block;
    margin-top: 0;
}

.lista-dados h3 {
    display: inline-block;
    margin-top: 0;
}

.lista-dados h4 {
    display: inline-block;
    margin-top: 0;
}

.lista-dados p {
    display: inline-block;
    margin-left: 90px;
    margin-top: 0;
}

.lista-dados button {
    margin-left: 7px;
}

.excluir-lista {
    border-left: 1px solid #e4e4e4;
}

.excluir-lista i {
    font-size: 50px;
    color: #212c44;
    height: 170px;
}


/*Fim Minha Conta*/


/* FormulÃ¡rio de contato */

.contact-form {
    background: #333d53;
    padding-top: 30px;
    padding-bottom: 30px;
}

.formulario p {
    color: #BCBCBC;
}


/*
.formulario {
    width: 55%;
}
*/

.formulario font {
    color: #F00;
}

select {
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #212C44;
    color: #bcbcbc;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
}

label.lab {
    position: relative;
    width: 100%;
    margin: 5px 0;
}

label.lab:after {
    content: '<>';
    font: 12px "Consolas", monospace;
    color: #555;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 5px;
    top: 8px;
    padding: 0 0 2px;
    border-bottom: 1px solid #555;
    position: absolute;
    pointer-events: none;
}

label.lab3 {
    position: relative;
    width: 100%;
    margin: 5px 0;
}

label.lab3:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #555;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 12px;
    padding: 0 0 2px;
    border-bottom: 1px solid #555;
    position: absolute;
    pointer-events: none;
}

label.lab3:before {
    content: '';
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #e4e4e4;
    position: absolute;
    pointer-events: none;
    display: block;
}

.lab3 select {
    padding: 6px;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #e4e4e4;
    color: #bcbcbc;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-weight: 300;
}

.formulario input[type="text"],
.formulario input[type="tel"] {
    background: #212C44;
    margin: 5px 0;
    height: 27px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

input.endereco {
    margin-left: -10px !important;
}

.formulario input[type="email"] {
    background: #212C44;
    margin: 5px 0;
    height: 27px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.formulario input[type="submit"] {
    background: #e50051;
    padding: 10px;
    color: #fff;
    width: 50%;
    border: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

#no {
    margin-left: 10px;
}

.formulario .col-md-6,
.formulario .col-md-4,
.formulario .col-md-3,
.formulario .col-md-2,
.formulario .col-md-12 {
    padding-left: 5px;
}

.formulario label {
    width: 100%;
    color: #ffffff;
    font: 14px "myriad-pro", sans-serif;
    font-weight: 200;
}

.formulario .lab2 {
    margin-left: 5px;
    margin-bottom: 0;
}

.end-fc {
    margin-left: -5px !important;
}

.formulario textarea {
    background: #212C44;
    margin: 5px 0;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    resize: none;
}

#faleconosco-right h3 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 0;
}

#faleconosco-right h4 {
    color: #fff;
    line-height: 20px;
}

#faleconosco-right p {
    color: #BCBCBC;
}

.area-form-cadastro {
    color: #BCBCBC;
}

.caroul-mobile {
    display: none;
}

.form-contact {
    margin-top: 10px;
}

.form-end {
    margin-top: 10px;
}

.form-contact,
.form-end {
    margin-left: -15px;
}

.faleconosco-right {
    margin-bottom: 60px;
}


/* Fim do formulÃ¡rio */


/* ComeÃ§o Arquivos Digitais */

.linha-vertical {
    height: 200px;
}


/* media queries */

@media (max-width: 991px) {
    .yamm .dropdown.yamm-fw .dropdown-menu.withc {
        width: 100%;
        padding: 0 0px 0 0;
        margin-right: 0;
        margin-left: 20px;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu {
        width: 30%;
        float: left;
        padding: 17px;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu a p {
        font-size: 11px;
        color: #2f2f2f;
        margin: 0 0 0 0;
    }
    li.grid-demo.menu-produtos {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .custom {
        width: 100% !important;
        text-align: center;
        height: auto;
    }
    
    .custom img {
        width: 30% !important;
    }
    
    .item-menu {
        margin-left: 15px;
    }
    .item-menu.custom {
        margin-left: 0px;
    }
    .campo-personalizacao-prd img {
        clip: rect(0px, 750px, 548px, 0px) !important;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    a.prod-thumb img {
        width: 100% !important;
        margin-top: 26px;
        !important margin-left: -60px !important;
        position: absolute !important;
    }
    .row.login-user {
        padding: 0px 0px 5px 0px !important;
        float: right !important;
        background-color: #333d53 !important;
    }
    ul.nav.navbar-nav {
        margin-left: 0;
        float: right;
    }
    .search-top {
        margin-top: 0px !important;
        padding-bottom: 10px;
    }
    .topo-painel {
        font-size: 12px !important;
        font-weight: 200;
        letter-spacing: 1px;
        margin-top: -18px;
        padding-bottom: 10px;
    }
    .mais-news {
        width: 100%;
        margin-right: 0px;
    }
    .custom-menu {
        margin-left: 15px;
    }
    
    
    .box-footer-produtos {
        margin-left: 0px;
        padding-left: 70px;
    }
    
    .box-footer-Fale-conosco {
        margin-left: 0px;
        padding-left: 70px;
    }

    .box-footer-personalize {
        margin-left: 0px;
    }
    
    .box-rede-social {
        padding-left: 35px !important;
        float: right
    }
    
    .top-login {
        margin-left: -90px;
    }
    
    

}

@media (min-width: 992px) {
    ul.dropdown-menu {
        width: 700px;
        left: -40px !important;
    }
}



#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 88%;
    width: 6px;
    background: #acb9c9;
}

@media (max-width: 768px) {
    .grid-demo {
        padding: 15px;
        height: auto;
    }
    
    li.grid-demo.menu-produtos {
        padding-left: 0;
        padding-right: 0;
    }
    

}

@media (max-width: 610px) {
    .menu-imab {
        width: 100%;
    }
    
    .item-menu img {
        width: 100% !important;
        margin-top: -15px !important;
    }
    .item-menu {
        width: 28% !important;
    }
    
    .custom {
        height: auto !important;
    }
    
    .custom p {
        
        text-align: center !important;
        margin: 3px !important;
    }
    
    li.grid-demo.menu-produtos {
        padding-left: 0;
    }
    
/*
    li.grid-demo.menu-produtos {
        margin-left: 30%;
    }
*/
    
    .custom h3 {
        font-size: 15px;
    }
    
    .custom img {
        width: 30% !important;
    }

    .custom {
        width: 100% !important;
        text-align: center;
    }
    
    .menu-prod img {
        display: inline-block;
        
    }
    
    
    .dropdown-menu a h3 {
        height: 0 !important;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 20px !important;
    }

    
    
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        padding-top: 25px;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #acb9c9;
}

.cd-timeline-img p {
    display: block;
    width: 40px;
    height: 24px;
    position: relative;
    left: 45%;
    top: 55%;
    margin-left: -12px;
    margin-top: -12px;
    color: #30394f;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
    text-align: center;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #303e49;
}


/*.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}*/

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin-bottom: 0;
    line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        color: #3a4661;
        font-weight: 400;
        letter-spacing: 5px;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center;
    }
    .cd-timeline-content p {
        font-size: 16px;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
    
    .custom {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        float: left;
    }
    .cd-timeline-thumb {
        display: block;
        float: left;
        margin-left: 30px;
        position: relative;
        left: 90px;
    }
    .cd-timeline-thumb-2 {
        display: block;
        float: left;
        position: relative;
        left: 50px;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 120%;
        top: 6px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    inverse bounce effect on even content blocks .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.cd-timeline-thumb {
    max-width: 50%;
}

.cd-timeline-thumb img {
    max-width: 100%;
}

.item-banner {
    width: 100%;
    max-height: 600px;
}

.image-inst {
    /*    width: 550px;*/
    max-width: 100%;
    float: left;
    /*    height: 250px;*/
}

.text p .descricao {
    float: left;
}

.campo-personalizacao-prd img {
    clip: rect(0px, 755px, 548px, 0px);
}

img.back {
    position: absolute;
    z-index: 0;
    width: 91.7%;
}

img.fechadura {
    position: absolute;
    width: 100%;
}

img.door {
    position: absolute;
    width: 100%;
}

img.macaneta {
    z-index: 999;
    position: relative;
    width: 103%;
}

a.prod-thumb {
    display: block;
    overflow: hidden;
    height: 170px;
    position: relative;
    /*    background-color: #e4e4e4;*/
    margin-right: -25px;
}

.macaneta-montada {
    position: relative;
    display: table;
    min-height: 145px;
    width: 150px;
    margin-left: 10px;
    margin-top: 0px;
}

a.prod-thumb img {
    width: 150%;
    margin-top: 14px;
    margin-left: -75px;
    position: absolute;
}

img.macaneta-thumb {
    top: -0.5px;
    position: absolute;
}

img.loading {
    width: 20px;
    margin-left: 9px;
}

.errors {
    background-color: #e74c3c;
    border-radius: 5px;
    padding: 10px;
}

.errors ul {
    padding: 0;
    list-style: none;
    color: #fff;
}

.errors {
    display: none;
}

.success {
    background-color: #2ecc71;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.success ul {
    padding: 0;
    list-style: none;
    color: #fff;
}

a.active-user {
    color: #000;
    text-decoration: none;
}

.formulario.form-trabalhe {
    width: 100%;
}

.form-trabalhe .col-md-6,
.form-trabalhe .col-md-5,
.form-trabalhe .col-md-4,
.form-trabalhe .col-md-3,
.form-trabalhe .col-md-2,
.form-trabalhe .col-md-1,
.form-trabalhe .col-md-12,
.form-trabalhe .col-md-7,
.form-trabalhe .col-md-8,
.form-trabalhe .col-md-9 {
    margin: 0;
    padding: 0;
}

.box-input {
    padding-right: 5px!important;
}

.right {
    float: right;
}

h2.title-work {
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 0.5px solid;
    margin-bottom: 15px;
    font-size: 19px;
}

.row.top-more {
    margin-top: 31px;
}

h3.subtitle-work {
    color: #fff;
    font-size: 16px;
    margin: 0;
    border-bottom: 0.1em solid #a8aaa9;
    padding: 5px;
}

.rd-lbl label {
    float: left;
    width: 25%;
}

.txt-idioma {
    text-align: right;
    color: #fff;
}

.top-medium {
    padding-top: 5px;
    margin-top: 7px;
}

.col-md-6.margin {
    padding: 22px;
}

.download-topo img {
    display: block;
    margin: 0 auto;
    float: left;
    width: 23%;
}

.download-topo {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 7px;
}

.btn-down {
    background-color: rgba(108, 116, 134, 0.7);
    color: #fff;
    padding: 10px;
    border: 0;
}

.btn-down:active {
    background-color: #272f42;
}


p.txt-download {
    text-transform: uppercase;
    font-weight: bold;
    color: #333d53;
    font-size: 16px;
    text-align: center;
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.btn-download img {
    width: 14%;
}

.btn-download span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 4px;
    text-transform: uppercase;
    padding-left: 8px;
}

.btn-download {
    display: table;
    float: none;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}

.box-download {
    margin-top: 30px;
}

span.span-dados {
    display: block;
    width: 130%;
}

.nav-top.container-fluid {
    background-color: #2e374a;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

p.msg-user.active {
    color: #333;
    border-bottom: 2px solid #ddd;
}

p.msg-user.active:after {
    content: "";
    -webkit-animation-name: aumentaTamanho;
    animation-name: aumentaTamanho;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

p.msg-user {
    color: #fff;
    padding: 0px 10px 10px 10px;
    cursor: pointer;
    margin: 0;
    transition: .1s all;
}

.btn-user-home {
    float: right;
    position: relative;
}

.has-dropdown {
    padding: 10px;
    position: absolute;
    z-index: 4;
    width: 100%;
    display: none;
    background-color: rgba(108, 116, 134, 1.0);
    /* margin-top: 10px; */
}

.has-dropdown a {
    display: block;
    margin-top: 10px;
    color: #fff;
}

a.msg-user.active {
    background-color: #fff;
    display: block;
    padding: 10px;
    color: #272f42;
}

a.msg-user {
    display: block;
    padding: 10px;
}

.row.login-user {
    padding: 40px 5px 10px 5px;
    float: right;
    width: 47%;
    background-color: rgba(108, 116, 134, 0.7);
}

p.msg-user:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    transition: 0.3s all;
    /* background-color: red; */
    top: 0;
    left: 0;
}

p.msg-user.active:after {
    height: 100%;
    background-color: rgba(108, 116, 134, 0.7);
    color: #fff;
    transition: 0.3s all;
    border-bottom: 2px solid #ddd;
}

span.msg-index {
    position: relative;
    z-index: 1;
    color: #fff;
}

.row.search-menu {
    float: left;
}

.search-top {
    float: left;
}

form.form-search {
    display: table;
    position: relative;
    width: 100%;
}

input.field-search {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    outline: none;
    width: 100%;
    padding-right: 22px;
}

.search-top {
    float: left;
    width: 55%;
    margin-top: 25px;
}

.perfis-cadastro {
    width: 100%;
}

.perfis-cadastro p {
    display: inline-block;
    padding-left: 7px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    margin-bottom: 0px;
    padding-right: 7px;
    position: relative;
    top: 1px;
    background-color: #333d53;
    border-bottom: 1px solid #fff;
    padding-top: 3px;
    margin-left: 10px;
    padding-bottom: 3px;
    cursor: pointer;
}

.perfis-cadastro p:first-child {
    margin-left: 0;
}

.perfis-cadastro p.active {
    border-bottom: 1px solid #333d53;
}

.fields-box {
    padding: 0;
}

.fields-margin {
    padding-left: 5px;
}

.select-field {
    padding-bottom: 10px;
}

.text-institucional {
    display: table;
}

.divisoria {
    border-bottom: 1px solid #fff;
    padding: 0;
    padding-bottom: 5px!important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fields-hide {
    display: none;
}

.select-field {
    height: 45px;
    margin-top: 5px;
    padding-left: 10px;
}

.load-personalizacao {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    top: 0;
    z-index: 9999999;
    padding-top: 27%;
    color: #fff;
    font-size: 23px;
}

.campo-personalizacao {
    visibility: hidden;
}

.modal-status-fundo {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: .8;
}

.modal-status {
    position: absolute;
    z-index: 11;
    background: #fff;
    border-radius: 5px;
}

.modal-top h2 {
    padding: 0;
    margin: 0;
}

.btn-acao {
    background: #e50051;
    padding: 10px;
    color: #fff;
    margin-top: 10px;
    border: 0;
    border-radius: 0;
}

@media (max-width: 1169px) {
    #cd-timeline::before {
        left: 50%;
    }
    
    .cd-timeline-img {
        left: 47.5%;
    }
    
    .cd-timeline-content {
        width: 44%;
        float: left;
        margin-left: 0;
    }
    
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
        margin-bottom: 20px;
    }
    
    cd-timeline-content::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-left: 7px solid #fff;
    }
    
    cd-timeline-content {
        content: '';
        position: absolute;
        top: 16px;
        left: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-left: 7px solid #fff;
    }
    
        .cd-timeline-thumb {
        max-width: 50%;
        float: right;
    }
    
    .cd-timeline-thumb-2 {
        display: inline-block;
        position: absolute;
        left: -40px;
    }
    
    .cd-timeline-thumb img {
        max-width: 70%;
        margin-left: 50px;
    }
    
    .cd-timeline-thumb-2 img {
    width: 90%;
    float: right;
}


}

@media (max-width: 991px) {
    a.prod-thumb img {
        width: 100% !important;
        margin-top: 35px;
        !important;
        margin-left: -55px;
        !important;
        position: absolute !important;
    }
    p.msg-user {
        margin-top: -26px;
        margin-right: 60px;
    }
    
    .modal-content {
        width: 100%;
    }
    
    .linha-filtro {
        height: 125px;
    }
    
    .superficie {
        padding-left: 20px;
        border-left: 1px solid #e4e4e4;
    }
    
    .content-pr {
        width: 70%;
        margin-left: 5px;
    }
    
    #cd-timeline::before {
        left: 8%;
    }
    
    .cd-timeline-img {
        left: -6.3%;
    }
    
    .cd-timeline-content {
        margin-left: 60px;
    }
    
    .cd-timeline-thumb img {
        max-width: 140%;
        margin-left: -80px;
    }
    
    .cd-timeline-thumb {
        max-width: 34%;
        float: right;
    }
    
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: left;
        margin-bottom: 20px;
    }
    
    .cd-timeline-thumb-2 img {
        width: 80%;
        position: relative;
        left: 75%;
    }
}


@media (max-width: 768px) {
    .navbar-default .navbar-brand {
        width: 150px;
    }
    .navbar-toggle {
        margin-top: 25px;
        margin-right: 5px;
    }
    .navbar-default .container-fluid,
    .navbar-default .container,
    .navbar-default .col-md-8 {
        padding: 0;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        color: #fff;
    }
    .navbar-default .navbar-nav>li>a {
        color: #f5f5f5;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #666;
    }
    .dropdown-menu .col-md-3 li>a {
        color: #666;
    }
    .buscar {
        width: 20%;
        float: left;
    }
    .cta h1 {
        font-size: 100%;
    }
    .box-watch-video {
        width: 100%;
        padding: 10px;
    }
    .inside-box-watch-video {
        padding: 20px;
    }
    .box-texto-destaque h2,
    .box-produto-destaque h2,
    .inside-box-watch-video h2 {
        font-size: 100%;
    }
    .box-rede-social {
        float: left;
/*        margin-bottom: 20px;*/
    }
    .grid-dicas .col-md-4 {
        width: 100%;
    }
    .header-historia p {
        width: auto;
    }
    #faleconosco-right {
        padding-top: 30px;
    }
/*
    #Carousel {
        display: none;
    }
    
*/
    .carousel-modelos {
        margin-left: -15px;
    }
    .caroul-mobile {
        display: block;
    }
    .acabamentos {
        height: 120px;
    }
    .superficies {
        height: 120px;
    }
    #img_doismilequinze {
        display: none;
    }
    .linhadotempo_um h1 {
        writing-mode: inherit;
        float: none;
        margin: 0;
    }
    .linhadotempo_um .text-box {
        width: 100%;
        padding: 0;
    }
    .text-box img {
        width: 100%;
    }
    .linhadotempo_um {
        border-left: 0;
        border-bottom: 10px solid #272f42;
        height: auto;
    }
    .linhadotempo_dois {
        border-right: 0;
        border-bottom: 10px solid #272f42;
        background: #333d53;
    }
    .linhadotempo_dois .text-box {
        display: block;
        width: 100%;
        padding: 0;
    }
    .linhadotempo_dois h1 {
        margin: 0;
        float: none;
        writing-mode: inherit;
    }
    .produtos {}
    .yamm .dropdown.yamm-fw .dropdown-menu.withc {
        width: 100%;
    }

    .grid-demo .row {
        margin: 0;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu a h3 {
        margin-top: 15px;
    }
    .yamm .col-md-7 {
        padding: 0;
    }
    .search-form {
        margin: 0;
    }
    .search-field {
        padding-left: 10px;
    }
    .topo-painel {
        float: none;
    }
    .box-footer-produtos .col-md-6 {
        padding: 0;
    }
    #navbar-collapse-grid {
        padding: 0;
        float: right;
    }

    .valoresh .cont .text {
        column-count: 1;
    }
    .valoresh .cont .text p img {
        width: 100%;
    }
    .inova .cont .text {
        column-count: 1;
    }
    .inova .cont .text p img {
        width: 100%;
    }
    .carousel-outrosp {
        display: none;
    }
    .content-pr {
        background: #fff;
        margin-left: 15px;
        margin-right: -15px;
    }
    .grid-dicas .col-md-9 {
        padding: 0;
        margin-top: 20px;
    }
    .grid-dicas .col-md-9 .col-md-4 {
        padding: 0;
    }
    .radio:before {
        left: 0.100rem;
    }
    .topo-painel {
        text-align: right;
        width: 50%;
        display: block;
    }
    .row.login-user {
        text-align: center;
        margin-right: 0 !important;
    }
    .top-login {
        padding-left: 0;
        margin-right: -120px;
    }
    .cd-timeline-content h2 {
        font-size: 22px;
        margin: 0;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu:last-child h3 {
        text-align: center;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu:last-child img {
        margin: 0 auto;
    }
    .single-dica-post img {
        width: 50%;
        float: right;
        margin: 5px 10px;
    }
    .desenhot img {
        width: 100%;
    }
    .tags {
        margin-top: 20px;
        border-top: 1px solid #fff;
        padding-top: 10px;
    }
    .paginaca-dicas {
        text-align: center;
    }
    .paginaca-dicas .pagination {
        margin: 5px 0;
    }
    .breadcrumb>li+li:before {
        padding: 0 2px;
    }
    
/*
    .content-pr {
        margin-left: 15px;
    }
    
*/
    .campo-personalizacao {
        margin-left: -15px;
    }
    
    .custom-menu {
        margin-left: 0;
    }
    
    .content-pr {
        width: 98%;
    }
    .content-pr {
        margin-left: 0;
        margin-right: 0;
    }
    
    .superficie {
        border-left: 0px !important;
    }
    
    .search-top {
        float: left !important;
        z-index: 999;
        margin-left: 10px;
    }
    
    .topo-painel {
        float: right !important;
    }
    
    .top-login {
        margin-right: 0;
    }
    
    .login-user {
        float: right !important;
    }
    
    p.msg-user {
        margin-right: 0 !important;
    }
    
    #cd-timeline::before {
        left: 5%;
    }
    
    .cd-timeline-thumb img {
        display: none;
    }
    
    .cd-timeline-thumb-2 img {
        display: none;
    }
    
    .cd-timeline-content {
        margin-left: 60px;
        width: 85%;
    }
    
    img.first-slide {
        position: relative;
        left: -20%;
    }
    
    .item-banner {
        width: 150%;
        max-height: 600px;
    }
    
    .macaneta-montada {
        margin-left: 40px !important;

    }
}

@media (max-width: 569px) {
    .item-menu h3 {
        font-size: 11px !important;
    }
    .item-menu img {
        width: 148%;
    }
    .item-menu {
        padding-left: 2px !important;
    }
}

@media (max-width: 375px) {
    .top-login {
        margin-right: -95px;
    }
    .senha-alt,
    .senha-alt input {
        width: 250px;
    }
    .form__group a,
    .form__group input {
        padding: 10px 5px 10px 5px;
    }
}



@media (max-width: 476px) {
    .texto-create-by {
        float: left;
    }
    .txt-personalizada {
        display: none;
    }
    .custom p {
        font-size: 80% !important;
    }
    
    .glr-prod {
        width: 100%;
    }
}

@media (max-width: 767px) {
    ul.dropdown-menu.withc {
        position: static !important;
        margin-left: 0 !important;
    }
    .box-texto-destaque {
        margin-top: 0px !important;
        padding-top: 40px !important;
    }
    .person-f img {
        display: none;
    }
    .person-f button {
        text-align: left;
    }
    .fields-margin {
        padding-left: 0px;
    }
    
    img.back {
        width: 89.9%; 
    }
    
    img.door {
        width: 98%;
    }
    
    img.fechadura {
        width: 98%;
    }
    
    img.macaneta {
        width: 101%;
    }
    
    .bto-produto-destaque {
        width: 50%;
    }
    
    .box-texto-destaque h2, .box-produto-destaque h2, .inside-box-watch-video h2 {
        font-size: 20px;
    }
    
    .box-footer-produtos {
        margin-left: 0px;
        padding-left: 15px;
    }
    
    .box-footer-Fale-conosco {
        margin-left: 0px;
        padding-left: 15px;
    }

    .box-footer-personalize {
        margin-left: 0px;
    }
    
    .topo-painel {
        float: right;
    }
    
    .top-login {
        margin-right: 0;
    }
    
    p.msg-user {    
        padding: 0px 10px 10px 10px !important;
    }
    
    .content-pr {
        width: 100%;
        margin-left: 0;
    }
    
    #navbar-collapse-grid {
        float: left;
    }
    
    .duvida {
        text-align: center;
    }
    
    .redes {
        float: none;
    }
    
    .box-duvidas a img {
        margin-right: 10px;
        float: inherit;
        margin-top: -20px;
    }
    
    .box-fale-conosco img {
        margin-right: 10px;
        float: initial;
        margin-top: -20px;
    }
    
    .box-fale-conosco>div {
        display: inline-block;
        padding-left: 0;
    }
    
    .tire-duvidas {
        display: inline-block !important;
    }
    
    .navbar-nav {
        margin: 0 0 !important;
    }
    
    ul.nav.navbar-nav {
       margin-top: 35px !important;   
    }
    
        
}

@media (max-width: 663px) {
    .tb-acabamento,
    .tb-superficie {
        display: none;
    }
}
 
@media (max-width: 663px) {
    .tb-ambiente,
    .tb-down {
        display: none;
    }
}

@media (max-width: 417px) {
    .bto-produto-destaque {
        width: 89%;
    }
}

@media (max-width: 352px) {
    .tb-material {
        display: none;
    }
    .txt-conjunto {
        display: none;
    }
        
    .cta h1 {
        font-size: 15px !important;
    }
    
        
    .cta h1 {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .carousel-inner {
        max-width: 150%;
        width: 100%;
        left: 0%;
    }
    .carousel-inner {
        position: relative;
        overflow: hidden
    }
    
    img.door {
        width: 96% !important;
    }
    img.back {
        width: 88% !important;
    }
    
    img.fechadura {
        width: 96% !important;
    }
    
    img.macaneta {
        width: 102% !important;
    }
    
    .input-senha {
        width: 100% !important;
    }
    
    .maçaneta-dperso {
        width: 35% !important; 
        margin-left: 10%;
    }
    
    .carousel-modelos {
        height: auto;
        margin-right: -15px;
    }
    
    .carousel-modelos .carousel-control {
        margin-top: 170px;
    }
    
    .single-dica-post img {
        width: 100%;
        float: none;
        margin: 5px 0;
    }
    
    .dropdown-menu a h3 {
        height: auto !important;
    }
    
    .item-menu {
        display: inline !important;
        height: auto !important;
        padding: 0px 0px 0px 10px !important;
        margin: 0 !important;
        text-align: left;
        width: 100% !important;
    }
    
    .item-menu h3 {
        display: inline-block;
        font-size: 15px !important;
    }
    
    .custom h3 {
        display: inline-block !important;
        font-size: 15px !important;
    }
    
    .custom p {
        text-align: left !important;
        padding-left: 5px !important;
        padding-bottom: 5px;
        margin-left: 0px !important;
        margin-top: -5px !important;
    }
    
    .item-menu img {
        display: none !important;

    }
    
    .grid-demo img {
        display: none;  
    }
    
    .grid-demo {
        padding: 0;
        margin: 0 !important;
    }
    
    .dropdown-menu {
        padding-bottom: 0 !important;
    }
    
    .dropdown-menu a h3 {
        margin: 0 !important;
        height: auto;
        padding: 10px 0 10px 5px !important;
        text-align: left;
    }
    
    .prod-thumb h3 {
        margin: 10px 0 0 0px;
    }
    
    .carousel-modelos .carousel-inner {
        margin-left: -10px;
        
    }
    
    img.first-slide {
        position: relative;
        left: -30%;
    }
    
    .item-banner {
        width: 250%;
        max-height: 600px;
    }
}

@media (max-width: 334px) {
    .person-f a button {
        font-size: 10px;
    }

}

.white{
    color: #fff;
    display: block;
}