body{
	background-color: #fff;
}


/* css topo site */
/* Inicio tela login*/
.painel{
    background-color: #282f42;
    color: #fff;
}

.painel-box{
    padding-left: 107px;
    padding-top: 10px;
}

.box-bem-vindo, .box-login-tela, .box-cadastro {
    width: 310px;   
    border-left: 1px solid #31384B;
    margin-top:10px; 
}

.box-login-tela{
   width: 309px !important;
}

.box-bem-vindo>p{
    text-align: left;
    font-size: 0.85em;
}

.box-bem-vindo>h1, .box-login-tela>h1, .box-cadastro>h1 {
    font-size: 11px;
    padding: 5px 0 16px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.box-bem-vindo>h2, .box-login-tela>h2, .box-cadastro>h2 {
   font-size: 0.9em;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

.box-login-tela .form-group {
    margin-bottom: 0px;
    padding-left: 13px;
}

 .box-cadastro .form-group {
    margin-bottom: 8px;
    padding-left: 13px;
}

 .input-usuario{
    height: 59px;
}

.span12{
   width:  200px !important;
   color: #959595;
   padding: 2px;
}

.texto-envio-email{
    font-size: 10px;
}

.label-form{
    font-weight: 500;
    font-size: 10px;
}
.btn-default{
    padding: 2px 15px 2px 15px;
}


/* Fim tela login*/
.topo{
	width: 1000px;
}

.topo-painel{
	margin-top: 10px;	
    width: 237px;
	float: right;
    font-size: 12px !important;
    font-weight: 200;
    letter-spacing: 1px;
    padding-right: 60px;
}

/*.navbar-brand {
    padding: 0;
    width: 100%;
    height: auto;
}
*/




.login-header {
   background: rgba(40,47,66,1);
    height: 30px;
}
/*
.navbar-default {
    background: rgba(40,47,66,1);
    background: rgba(40,47,66,1);
    background: -moz-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,47,66,1)), color-stop(67%, rgba(58,70,96,1)), color-stop(100%, rgba(58,70,96,1)));
    background: -webkit-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -o-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: linear-gradient(to bottom, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282f42', endColorstr='#3a4660', GradientType=0 );
    border: 0;
}

.navbar , .navbar-default, .navbar-static-top {
	height: 123px !important;
    margin-bottom: 0;
    border: 0;
    background: rgba(40,47,66,1);
    background: rgba(40,47,66,1);
    background: -moz-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,47,66,1)), color-stop(67%, rgba(58,70,96,1)), color-stop(100%, rgba(58,70,96,1)));
    background: -webkit-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -o-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: linear-gradient(to bottom, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282f42', endColorstr='#3a4660', GradientType=0 );
}

.navbar-toggle {border-radius: 0;}
.navbar-default .navbar-toggle {border-color: #cacaca;}
.navbar-default .navbar-toggle .icon-bar {background: #cacaca;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background: rgba(40,47,66,1);} */


/* Style Menu Principal */
/*
.navbar,.topo-painel{
	font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    font: 14px "myriad-pro",sans-serif;
    color: #c8c8c8;
}

.navbar-default .navbar-nav>.menu-principal>a, .navbar-default .navbar-nav>.menu-principal>a:focus, .navbar-default .navbar-nav>.menu-principal>a:hover {
    color: #c8c8c8 !important;
    background-color: transparent;
    position: relative;
    display: block;
    z-index: 510;
    color: #c8c8c8;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s; 
}

.dropdown-menu li {
    display: inline;
}

.dropdown-menu>li>a {display: inline;}
.dropdown-menu > li > a {padding: 0 5px;text-transform: uppercase;line-height: 2.6;}
.navbar-nav > li > .dropdown-menu {border-radius: 4px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background: transparent;} */

/* form search */
.icon-seach{
	font-size: 21px;
    color: #fff;
}

.seach{
	background:none !important;
	width: 226px;
	border:0;
	box-shadow: 0 0px 0px;
	border-radius: 0 !important;
}

.seach li {
    position: relative;
    right: 170px;
}

.seach input[type=submit] {
    color:#000;
    text-transform: uppercase;
    border: 0;
}

.open{
	height: 40px !important;
}

.form-search-input{
	text-transform: uppercase;
    font-size: 11px;
    padding: 0px 5px;
    min-height: 24px;
    margin: 0px 0px 0px 0;
    cursor: pointer;
    border: none;
    background:none;	 
    width: 150px;
    margin: 0px 1px 0px 0;
    padding: 0px 5px 1px 0;
    min-height: 23px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    font-size: 11px;
    letter-spacing: 2px;
}

.imab{
    padding:0px;
    margin:0px;
    list-style:none;
    min-width: 735px !important; 
    height: 40px;
}

.produtos {
    min-width: 650px;
}

.produtos li {display: block !important;text-transform: uppercase;font-weight: 200;margin-bottom: 10px;color:#e50051;}
.produtos li a {
    color:#000;
    text-transform: uppercase;
    font-weight: 200;
}

.produtos li a:hover {
    text-decoration: none;
}
/* Topo Site Fim */

/* Breadcrumbs Inicio */

.breadcrumb {margin-bottom: 0;color:#6c6c6c;text-transform: uppercase;font-size: 13px;font-weight: 200;background: #fff;}
.breadcrumb a {color:#6c6c6c;text-transform: uppercase;}

/* Inicio Banners*/
.box-banners{
    padding: 0;
    margin: 0;
}

.box-banners>img{
    display:block;
    width:100%;
    height:auto;
}

#myCarousel .carousel-indicators li {
    display: inline-block;
    border-radius: 0px;
    width: 82px;
    height: 12px;
    margin: 0;
}

#myCarousel .carousel-indicators .active{
     display: inline-block;
    border-radius: 0px;
    width: 82px;
    height: 12px;
}

#myCarousel .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#myCarousel .carousel-fade .carousel-inner .item,
#myCarousel .carousel-fade .carousel-inner .active.left,
#myCarousel .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#myCarousel .carousel-fade .carousel-inner .active,
#myCarousel .carousel-fade .carousel-inner .next.left,
#myCarousel .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#myCarousel .carousel-fade .carousel-inner .next,
#myCarousel .carousel-fade .carousel-inner .prev,
#myCarousel .carousel-fade .carousel-inner .active.left,
#myCarousel .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#myCarousel .carousel-fade .carousel-control {
  z-index: 2;
}


#myCarousel .carousel-control {
    background: transparent;
}

/*#myCarousel .carousel-control.left {
    margin-left: 450px; 
    margin-bottom: 500px; color: #fff;
}
#myCarousel .carousel-control.right {
    margin-right: 450px; 
    margin-bottom: 500px; 
    color: #fff;
} */

/* banners fim */

/* Inicio Destaque */


.box-destaque{
    background: rgba(40,47,66,1);
    background: -moz-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,47,66,1)), color-stop(58%, rgba(59,70,98,1)), color-stop(100%, rgba(59,70,98,1)));
    background: -webkit-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: -o-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: linear-gradient(to bottom, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293043', endColorstr='#3b4662', GradientType=0 );
    height: auto;
    font: 13px "myriad-pro",sans-serif;
}
.box-texto-destaque{ 
    font: 13px "myriad-pro",sans-serif;
    color: #BCBCBC;
    width: 285px;
    text-align: center;
    margin-top: 25px;
}

 .box-produto-destaque{
    font: 13px "myriad-pro",sans-serif;
    color: #BCBCBC;
    width: 229px;
    text-align: center;
    margin-top: 25px;
}
.box-texto-destaque h2 , .box-produto-destaque h2, .inside-box-watch-video h2{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 0 0 5px;
    text-align: center;
    color: #fff;
}
.box-produto-destaque h2{
    margin: 11px 0 5px;
}

.bto-produtos-destaque-info{
    background: transparent;
    padding: 8px;
    margin-left: 75px;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    border: 1px solid;
    text-align: center;
    width: 37px;
    height: 37px;
}

.bto-produto-destaque {
    background: #fff;
    border: none;
    padding: 10px;
    text-transform: uppercase !important;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
    color: #272f42;
    font-weight: 200;
    width: 192px;
}

.circle-play {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
}

.circle-play i {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 18px;
}

.box-watch-video {
    background: rgba(58,70,97,0.7);
    display: block;
    width: 50%;
    margin: 30px auto;
    padding: 40px;
}

.inside-box-watch-video {
    border: 1px solid #fff;
    padding: 40px;
}

.inside-box-watch-video p {
    color:#fff;
    text-align: center;
}

.inside-box-watch-video h4 {
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 10px 0;
}

.inside-box-watch-video a {
    cursor: pointer;
    text-decoration: none;
}

.inside-box-watch-video a:hover {
    text-decoration: none;
}


/* Fim Destaque */


/* Header */

.header-historia {
    background: #e4e4e4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-historia h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-historia p {
    width: 700px;
    margin: auto;
    color: #6c6c6c;
}


.email-label label {width: auto !important;}


/* Fim do header */

/* Content box */

.content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Fim do Content box */

/* CTA */

.cta {background: #e4e4e4; padding: 30px;}
.cta h1 {margin: 0 0 10px 0; color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;}
.cta p {text-align: center;color:#666;}
.cta button {display: block;margin: 0 auto;background:#3a4661;border: 0;padding: 10px;color:#e4e4e4;text-transform: uppercase;letter-spacing: 3px;}

/* FIM DO CTA */

/* linha do tempo */

#img_doismilequinze {background: url(../imagens/hist1.jpg);background-size: cover;background-repeat: no-repeat;height: 350px;}
.linhadotempo_um {
    background: #333d53;
    height: 350px;
    border-left: 10px solid #272f42;
}
.linhadotempo_um h1 {
    /*transform: rotate(90deg);
	transform-origin: left top 0;
   
    margin-left: 30px;
    float: left; */
    
   color:#e4e4e4;
    font-size: 60px;
    float: left;
/*   -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl; */
  writing-mode: vertical-rl;
    margin: 100px 0;
}

.linhadotempo_dois .text-box {
    float: left;
    width: 80%;
    padding: 40px;
}

.linhadotempo_um .text-box {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 40px;
}

.text-box img {
    display: block;
    margin: 0 auto;
}

.linhadotempo_um h3 {
    color:#e4e4e4;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}

.linhadotempo_um p {
    color: #e4e4e4;
}

.linhadotempo_dois {
    background: #333d53;
    height: 350px;
    border-right: 10px solid #272f42;
}
.linhadotempo_dois h1 {
    color:#e4e4e4;
    font-size: 60px;
    float: right;
/*   -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl; */
  writing-mode: vertical-lr;
    margin: 100px 0;
}

.linhadotempo_dois h3 {
    color:#e4e4e4;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}

.linhadotempo_dois p {
    color: #e4e4e4;
}

/* Filtro Onde encontrar */

.filtro-local {
    background: #333d53;
    padding: 20px;
}

.filtro-local label {
    width: 100%;
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
}




/* Mapa no background */

.mapa-google {padding: 0;}

#map {
        width: 100%;
        height: 500px;
}

.box-map-info {
    height: 500px;
    /*position: absolute;
    background: rgba(255,255,255,0.7);
    top: 464px;*/
    width: 30%;
}
/* fim do mapa no background


/* Notas e notícias */

.news {padding-top: 40px;padding-bottom: 40px;}
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module .thumbnail {
  background: #000000;
  height: 400px;
  overflow: hidden;
    padding: 0px;
    border-radius: 0;
}

.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #e8e8e8;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -39px;
  left: 0;
  background: #e50051;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #3a4661;
  font-size: 26px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #e50051;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}


.container .column {
  width: 50%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.container .column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.container .info span {
  color: #666666;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #e74c3c;
}

/* fim notas */

/* Formulário de contato */

.contact-form {background: #333d53;padding-top: 30px;padding-bottom: 30px;}

.formulario p {color: #BCBCBC;}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: #212C44;
    color: #bcbcbc;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    height: 30px;
}

label.lab {position:relative;width: 100%;margin: 5px 0;}
label.lab:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#555;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:7px;
    padding:0 0 2px;
    border-bottom:1px solid #555;
    position:absolute;
    pointer-events:none;
}
label.lab:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#212C44;
    position:absolute;
    pointer-events:none;
    display:block;
}

label.lab3 {position:relative;width: 100%;margin: 5px 0;}
label.lab3:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#555;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:12px;
    padding:0 0 2px;
    border-bottom:1px solid #555;
    position:absolute;
    pointer-events:none;
}
label.lab3:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#e4e4e4;
    position:absolute;
    pointer-events:none;
    display:block;
}

.lab3 select {
    padding:6px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: #e4e4e4;
    color: #bcbcbc;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    height: 40px;
}


.formulario input[type="text"],.formulario input[type="tel"]{
    background: #212C44;
    margin: 5px 0;
    height: 27px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.formulario input[type="email"]{
    background: #212C44;
    margin: 5px 0;
    height: 27px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}


.formulario input[type="submit"] {
    background: #e50051;
    padding: 10px;
    color:#fff;
    width: 50%;
    border: 0;
    
}

.formulario label {
    width: 100%;
    color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
}

.formulario .lab2 {
    margin-left: 5px;
}

.formulario textarea {
    background: #212C44;
    margin: 5px 0;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

#faleconosco-right h3 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color:#fff;
    margin-top: 0;
}

#faleconosco-right h4 {
    color: #fff;
}

#faleconosco-right p {
    color:#BCBCBC;
}

.area-form-cadastro {
    color:#BCBCBC;
}

/* Fim do formulário */

/* Box info produtos */

.produtos-info{
    background: #e4e4e4;
}

.duvidas-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-duvidas a {
    color:#fff;
}

.box-duvidas a:hover {
    text-decoration: none;
}

.box-duvidas a img {
    margin-right: 10px;
}

.box-duvida h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center; 
}

.box-duvida h5 {
    color:#929292;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.box-duvida h4 {
     color: #6c6c6c;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 5px;
}

.garantia {
    padding-left: 0;
    list-style: none;
}

.box-info-produto {
    padding: 0;
}

.box-info-produto h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.box-info-produto h5 {
    color:#929292;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.box-info-produto h4 {
  color: #6c6c6c;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 5px;
}

.box-info-produto ul {text-align: center;padding-left: 0;}
.box-info-produto ul > li {
    display: inline;
    font-size: 22px;
    color:#3a4661;
}

.box-info-produto p {
    text-align: center;
    color: #6c6c6c;
}

.box-info-produto button {
    background: #3a4661;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    color:#fff;
    font-weight: 200;
    display: block;
    margin: 0 auto;
}

.img-escolha-produto {padding: 0;}
.img-escolha-produto img {width: 100%;}
.acabamentos {
    border-top: 1px solid #cfcfcf;
    display: block;
    width: 100%;
    height: 50px;
}

.acabamentos h3 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 5px;
}

.superficies {
    border-top: 1px solid #cfcfcf;
    display: block;
    width: 100%;
    height: 50px;
}

.superficies h3 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 5px;
}

.info-interna {
    padding: 30px;
}

.desenhot {
    background: #fff;
    padding: 30px 0;
}

.desenhot h3 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.desenhot .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #272f42;
    color:#fff;
}
.desenhot .table-striped > tbody > tr:last-child {
    border-bottom: 3px solid #272f42;
}

.prod-thumb img {
    display: block;
    margin: 0 auto;
}

.prod-thumb h3 {
    text-align: center;
    text-transform: uppercase;
    color:#bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 14px;
}

.prod-thumb:hover {
    text-decoration: none;
}

.carousel-outrosp h2 {
    text-transform: uppercase;
    color:#bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 16px;
}
.carousel-outrosp {
    background: #2d364c;
    padding: 30px;
}
.carousel-outrosp .carousel {
    margin-bottom: 0;
    padding: 0 40px;
}
/* The controlsy */
.carousel-outrosp .carousel-control {
    height: 40px;
	width: 40px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius:0;
    margin-top: 100px;
}
.carousel-outrosp .carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-outrosp .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-outrosp .carousel-indicators li {
	background: #cecece;
}
.carousel-outrosp .carousel-indicators .active {
background: #428bca;
}

.carousel-outrosp .carousel-inner {
    margin-left: 6px;
}

.carousel-outrosp .carousel-control i {
    padding: 10px 0;
}
/* Fim box info */

/* Personalize sua maçaneta */

.custom-interna .panel-default>.panel-heading {background: #fff;padding: 20px 0 !important;}
.panel-heading a:focus, .panel-heading a:hover {text-decoration: none;}

.custom-interna button {width: 100% !important;margin: 0;padding: 30px 0;}
.custom-interna .panel-group {margin-bottom: 0;}


/* Fim do personalize */

/* Box de textos */

.valoresh {padding-top: 20px;padding-bottom: 20px;}
.valoresh p {width: 80%;display: block;margin: 0 auto;}
/* Fim do box de textos */

/* Grid Dicas */

.grid-dicas {background: #333d53;padding-top: 30px;padding-bottom: 30px;}

.grid-dicas .row
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
 
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid-dicas .col-md-4
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width:33%;
}
.grid-dicas .panel {
  width:100%;
  border-radius: 0;
  background: #212C44;
  border: 0;
}

.grid-dicas .panel-default>.panel-heading {border: 0;padding: 0;}
.grid-dicas .panel-default>.panel-heading img {width: 100%;}
.grid-dicas .panel-body h3 {margin-top: 0;font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 0;
    font-size: 18px;
}

.grid-dicas .panel-body h2 {
    margin-top: 0;font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 0;
}

.grid-dicas .panel-body p {
   color: #BCBCBC 
}

.leiamais {
    color: #E50052;
    font-weight: bold;
    cursor: pointer;
}

#paginacao {
    width: 100%;
    text-align: center;
}

#paginacao ul {
    float: right;
}

#paginacao ul li {
    display: inline;
    margin: 0 5px;
    color:#bcbcbc;
}

/* FIM DAS DICAS */

/* Produtos catalogo */

.produtos-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.produtos-list h4 {text-transform: uppercase;letter-spacing: 3px;font-size: 18px;}
.produtos-list button {background: #3a4661;border:0;padding: 5px;color:#fff;width: 100%;text-transform: uppercase;font-weight: 200;}

.produtos {padding-left:0px;}
/* FIM PRODUTOS */

/* Inicio Duvida Contato Social */


.box-duvida-contato-social{
    background-color: #272f42;
    height: auto;
}

.box-duvidas, .box-fale-conosco, .box-rede-social{
    width: 234px;
    color: #fff;
    height: 82px;
    padding-top: 19px;
    letter-spacing: 4px;
}

.box-duvidas>div,.box-fale-conosco>div{
    padding-left: 43px;
}

.box-rede-social{
    color: #FFF;
    padding-top: 19px;
    float: right;
    width: 340px;
    letter-spacing: 0!important;
}

/* Fim  */

/* Inicio Footer  width: 258px !important; */
.box-footer{
    height: auto;
    background-color: #e4e4e4;
    padding-bottom: 41px;
}

/* posicionamento container institucional */
.box-footer-institucional{
    
}

/* posicionamento container produto */
.box-footer-produtos{
    
}

/* posicionamento container fale-conosco */
.box-footer-Fale-conosco{
    
}
/* posicionamento container footer-conteudo */
.box-footer-conteudo{
    
}
/* posicionamento container box-copyright */
.box-copyright{
   padding-top: 20px; 
}


/* titulo h3 de cada ul */
.box-footer-institucional>h3,.box-footer-conteudo>.box-footer-Fale-conosco>h3, .box-footer-produtos>h3{
    font: 24px "myriad-pro",sans-serif;
    text-transform: uppercase !important;
    color: #3a4661 !important;
}

/* definindo font e tamanho para toda descrição do footer */
 .box-footer-conteudo>.box-footer-institucional>ul,
 .box-footer-conteudo>.box-footer-produtos>ul,.box-footer-conteudo>.box-footer-Fale-conosco>ul, .texto-copyright, .texto-create-by{
    font: 13px "myriad-pro",sans-serif;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    color: #959595;
    text-decoration:none !important;    
 }

 a.link-footer:link, a.link-footer:visited, a.link-footer:hover, a.link-footer:active {
    color:#959595;
    text-decoration:none;
}

.box-footer-produtos .col-md-4 {padding-left: 0;}
.box-produto1-ul{
    padding-left: 0;
    text-transform: capitalize;
    font-size: 12px;
    list-style: none;
}
.box-produto2-ul{
   padding-left: 0; 
    text-transform: capitalize;
    font-size: 12px;
    list-style: none;
}

.texto-copyright{
    float: left;
    color: #959595;
}

.texto-create-by{
    float: right;
    color: #959595;
    text-decoration:none!important;
}
   
/* Fim  */


/* MEDIA QUERIES */


@media (max-width: 768px) {
    body {overflow-x: hidden;}
    .box-bem-vindo, .box-login-tela, .box-cadastro {width: 100%;}
    .painel-box {padding-left: 15px;}
    .cta h1 {font-size: 100%;}
    .destaque {padding-left: 15px;}
    .box-watch-video {padding: 0;width:100%;}
    .duvida {padding-left: 15px;}
    .box-rede-social {float: left;}
    /*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #e7e7e7;margin-top: 48px;}
    .navbar-nav {margin: 0;text-align: center;}*/
    .breadcrumb {padding-left: 0;}
    .header-historia p {width: auto;}
    .grid-dicas .col-md-4 {width: 100%;}
    .formulario {padding-left: 15px;}
    #faleconosco-right {padding-top: 20px;}
    /* .dropdown-menu li {display: block;}
    .navbar-nav .open .dropdown-menu {background: #fff;} */
    .breadcrumb>li {display: inline;}
    .produtos-list button {width: auto;}
    .acabamentos {height: 120px;}
    .superficies {height: 120px;}
    .desenhot img {width: 100%;}
    .carousel-outrosp {display: none;}
    /*.dropdown-menu {display: block;width: 100%;position: relative;}
    .navbar-brand {float: left;width: auto;}*/
}