/* css topo site */

html, body {font: 14px "myriad-pro",sans-serif;}
/* Inicio tela login*/
.painel{
    background-color: #282f42;
    color: #fff;
}



.box-bem-vindo>p{
    text-align: left;
    font-size: 0.85em;
}

.box-bem-vindo>h1, .box-login-tela>h1, .box-cadastro>h1 {
    font-size: 11px;
    padding: 5px 0 16px;
    margin: 0;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.box-bem-vindo>h2, .box-login-tela>h2, .box-cadastro>h2 {
   font-size: 0.9em;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

.box-login-tela .form-group {
    margin-bottom: 0px;
    padding-left: 13px;
}

 .box-cadastro .form-group {
    margin-bottom: 8px;
    padding-left: 13px;
}

 .input-usuario{
    height: 59px;
}

.span12{
   color: #959595;
   padding: 2px;
    width: 100%;
}

.texto-envio-email{
    font-size: 10px;
}

.label-form{
    font-weight: 500;
    font-size: 10px;
}
.btn-default{
    padding: 2px 15px 2px 15px;
}


/* Fim tela login*/
.topo{
	width: 1000px;
}

#bto-cadastro-login {
color:#fff;    
}

.topo-painel{
	margin-top: 10px;	
    width: 237px;
	float: right;
    font-size: 12px !important;
    font-weight: 200;
    letter-spacing: 1px;
}

.login-header {
   background: rgba(40,47,66,1);
    height: 30px;
}

.top-login {color:#fff;margin-bottom: 0;}

.top-login li {
    display: inline;
    text-transform: uppercase;
    color:#fff;
}

.top-login li:first-child {border-right: 2px solid #fff;padding-right: 5px;}

.top-login li a {
    color:#fff;
}

.top-login li a:hover {
    cursor: pointer;
    text-decoration: none;
}

.search-form {
  display: inline-block;
  float: right;
  position: relative;
  width: 100%;
}

.search-field,
.search-submit {
  height: 3rem;
}

.search-field {
  position: absolute;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-weight: 300;
  opacity: 0;
  padding-right: 3rem;
  width: 0;
  z-index: 3;
  text-transform: uppercase;
}
.search-field:focus {
  cursor: text;
  opacity: 1;
  outline: none;
  width: 100%;
  z-index: 1;
}
.search-field:focus:hover ~ .search-submit .fa-search {
  color: #FFFFFF;
}
.search-field:hover ~ .search-submit .fa-search {
  color: white;
}

.search-submit {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  float: right;
  position: relative;
  width: 3rem;
  z-index: 2;
}
.search-submit:hover .fa-search {
  color: white;
}

.fa-search {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #FFFFFF;
  font-size: 2.25rem;
}

/* Navegação principal */

.navbar-default {
    background: rgba(40,47,66,1);
    background: rgba(40,47,66,1);
    background: -moz-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,47,66,1)), color-stop(67%, rgba(58,70,96,1)), color-stop(100%, rgba(58,70,96,1)));
    background: -webkit-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -o-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    background: linear-gradient(to bottom, rgba(40,47,66,1) 0%, rgba(58,70,96,1) 67%, rgba(58,70,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282f42', endColorstr='#3a4660', GradientType=0 );
    border: 0;
    border-radius: 0;
    height: auto;
    text-transform: uppercase;
    color:#c8c8c8;    
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {color:#666;}

.navbar-default .navbar-nav>li {font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;}
.navbar-default .navbar-nav>li>a {color:#c8c8c8;}
.nav>li>a {padding: 10px;}



/*.dropdown-menu {
    width: 700px;
}

.dropdown-menu .col-md-3 li {padding-left: 15px;}
.dropdown-menu .col-md-3 li>a {color:#666;}
*/

.dropdown-menu.search {
    width: auto;
    background: transparent;
    box-shadow: none;
    border:0;
    width: 185px;
}

.form-search-input {
    text-transform: uppercase;
    font-size: 11px;
    padding: 0px 5px;
    min-height: 24px;
    margin: 0px 0px 0px 0;
    cursor: pointer;
    border: none;
    background: none;
    width: 150px;
    margin: 0px 1px 0px 0;
    padding: 0px 5px 1px 0;
    min-height: 23px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    font-size: 11px;
    letter-spacing: 2px;
}

.search button{
    color: #000;
    text-transform: uppercase;
    border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: #c8c8c8;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {color: #c8c8c8;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {background: transparent;color:#c8c8c8;}

.navbar {margin-bottom: 0;}
.navbar-nav {margin: 20px 0;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0;}
.navbar-brand {
    padding: 0;
    height: auto;
}

#bs-example-navbar-collapse-1 {margin: 30px 0;}

.navbar-default .navbar-toggle {border-radius: 0;}

.navbar-brand img {
    width: 100%;
}

.imab{
    padding:0px;
    margin:0px;
    list-style:none;
    min-width: 735px !important; 
    height: 40px;
}

.produtos {
    min-width: 650px;
}

.produtos li {display: block !important;text-transform: uppercase;font-weight: 200;margin-bottom: 10px;color:#e50051;}
.produtos li a {
    color:#000;
    text-transform: uppercase;
    font-weight: 200;
}

.produtos li a:hover {
    text-decoration: none;
}
/* Topo Site Fim */

/* Breadcrumbs Inicio */

.breadcrumb {margin-bottom: 0;color:#6c6c6c;text-transform: uppercase;font-size: 13px;font-weight: 200;background: #fff;}
.breadcrumb a {color:#6c6c6c;text-transform: uppercase;}

/* Inicio Banners*/
.box-banners{
    padding: 0;
    margin: 0;
}

.box-banners>img{
    display:block;
    width:100%;
    height:auto;
}

#myCarousel .carousel-indicators li {
    display: inline-block;
    border-radius: 0px;
    width: 40px;
    height: 12px;
    margin: 0;
}

#myCarousel .carousel-indicators .active{
     display: inline-block;
    border-radius: 0px;
    width: 40px;
    height: 12px;
}


/*#myCarousel .item {
    height: 500px;
}*/
#myCarousel .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
    height: 500px;
}
#myCarousel .carousel-fade .carousel-inner .item,
#myCarousel .carousel-fade .carousel-inner .active.left,
#myCarousel .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#myCarousel .carousel-fade .carousel-inner .active,
#myCarousel .carousel-fade .carousel-inner .next.left,
#myCarousel .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#myCarousel .carousel-fade .carousel-inner .next,
#myCarousel .carousel-fade .carousel-inner .prev,
#myCarousel .carousel-fade .carousel-inner .active.left,
#myCarousel .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#myCarousel .carousel-fade .carousel-control {
  z-index: 2;
}


#myCarousel .carousel-control {
    background: transparent;
}

/*#myCarousel .carousel-control.left {
    margin-left: 450px; 
    margin-bottom: 500px; color: #fff;
}
#myCarousel .carousel-control.right {
    margin-right: 450px; 
    margin-bottom: 500px; 
    color: #fff;
} */

/* banners fim */


/* Inicio Destaque */


.box-destaque{
    background: rgba(40,47,66,1);
    background: -moz-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,47,66,1)), color-stop(58%, rgba(59,70,98,1)), color-stop(100%, rgba(59,70,98,1)));
    background: -webkit-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: -o-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    background: linear-gradient(to bottom, rgba(40,47,66,1) 0%, rgba(59,70,98,1) 58%, rgba(59,70,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293043', endColorstr='#3b4662', GradientType=0 );
    height: auto;
    font: 13px "myriad-pro",sans-serif;
}
.box-texto-destaque{ 
    font: 13px "myriad-pro",sans-serif;
    color: #BCBCBC;
    text-align: center;
    margin-top: 25px;
}

 .box-produto-destaque{
    font: 13px "myriad-pro",sans-serif;
    color: #BCBCBC;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.box-texto-destaque h2 , .box-produto-destaque h2, .inside-box-watch-video h2{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 0 0 5px;
    text-align: center;
    color: #fff;
}
.box-produto-destaque h2{
    margin: 11px 0 5px;
}

.bto-produtos-destaque-info{
    background:rgba(108,116,134, 0.7);
    padding: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    width: 120px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    box-shadow: none;
    border: 0;
}



.bto-dicas {
     background:rgba(108,116,134, 0.7);
    padding: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    width: 120px;
    display: block;
    text-transform: uppercase;
    box-shadow: none;
    border: 0;
    text-shadow: none;
}

.bto-dicas:hover {
    text-decoration: none;
    color:#e50051;
}

.box-destaque a:hover {text-decoration: none;cursor: pointer;color:#fff;}

.bto-produto-destaque {
    background: #fff;
    border: none;
    padding: 10px;
    text-transform: uppercase !important;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
    color: #272f42;
    font-weight: 200;
    width: 100%;
}

.circle-play {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
}

.circle-play i {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 18px;
}

.box-watch-video {
    background: rgba(58,70,97,0.7);
    display: block;
    width: 60%;
    margin: 30px auto;
    padding: 40px;
}

.inside-box-watch-video {
    border: 1px solid #fff;
    padding: 40px;
}

.inside-box-watch-video p {
    color:#fff;
    text-align: center;
}

.inside-box-watch-video h4 {
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    margin: 10px 0;
}

.inside-box-watch-video a {
    cursor: pointer;
    text-decoration: none;
}

.inside-box-watch-video a:hover {
    text-decoration: none;
}


/* Fim Destaque */

/* Header */

.header-historia {
    background: #e4e4e4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-historia h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-historia p {
    width: auto;
    margin: auto;
    color: #6c6c6c;
    text-align: left;
    margin-bottom: 10px;
}

/* Header valores */

.header-valores {
    background: #e4e4e4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-valores h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-valores p {
    width: auto;
    margin: auto;
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 10px;
}

.email-label label {width: auto !important;}


/* Fim do header */

/* Content box */

.content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.timeline {background: #30394f;}
.titulo-timeline {color:#e4e4e4;text-align: center;text-transform: uppercase;font-size: 22px;font-weight: 300;letter-spacing: 3px;border-top: 1px solid #e4e4e4;padding-top: 20px;}
.historia {background: #30394f;padding: 40px 0 0;color:#fff;font-size: 14px;font-weight: 300;text-align: justify;}

/* TIMELINE */


/* Fim do Content box */

/* CTA */

.cta {background: #ccc url(../assets/imagens/porta2.jpg);background-size: cover; padding-top: 30px;padding-bottom: 30px;    background-position: 0px -94px;}
.cta h1 {margin: 0 0 10px 0; color: #fff;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;}
.cta p {text-align: center;color:#fff;}
.cta button {display: block;margin: 0 auto;background:#fff;border: 0;padding: 10px;color:#606b7e;text-transform: uppercase;letter-spacing: 3px;}

/* FIM DO CTA */

/* linha do tempo */

#img_doismilequinze {background: url(../assets/imagens/hist1.jpg);background-size: cover;background-repeat: no-repeat;height: 350px;}
.linhadotempo_um {
    background: #333d53;
    height: 350px;
    border-left: 10px solid #272f42;
}
.linhadotempo_um h1 {
    /*transform: rotate(90deg);
	transform-origin: left top 0;
   
    margin-left: 30px;
    float: left; */
    
   color:#e4e4e4;
    font-size: 60px;
    float: left;
/*   -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl; */
  writing-mode: vertical-rl;
    margin: 100px 0;
}

.linhadotempo_dois .text-box {
    float: left;
    width: 80%;
    padding: 40px;
}

.linhadotempo_um .text-box {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 40px;
}

.text-box img {
    display: block;
    margin: 0 auto;
}

.linhadotempo_um h3 {
    color:#e4e4e4;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}

.linhadotempo_um p {
    color: #e4e4e4;
}

.linhadotempo_dois {
    background: #333d53;
    height: 350px;
    border-right: 10px solid #272f42;
}
.linhadotempo_dois h1 {
    color:#e4e4e4;
    font-size: 60px;
    float: right;
/*   -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl; */
  writing-mode: vertical-lr;
    margin: 100px 0;
}

.linhadotempo_dois h3 {
    color:#e4e4e4;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
}

.linhadotempo_dois p {
    color: #e4e4e4;
}

/* Box info produtos */

.produtos-info{
    background: #e4e4e4;
}

.duvidas-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.box-duvidas a {
    color:#fff;
}

.box-duvidas a:hover {
    text-decoration: none;
}

.box-duvidas a img {
    margin-right: 10px;
}

.box-duvida h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center; 
}

.box-duvida h5 {
    color:#929292;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.box-duvida h4 {
     color: #6c6c6c;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.garantia {
    padding-left: 0;
    list-style: none;
}

.box-info-produto {
    padding: 0;
}

.box-info-produto h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.box-info-produto h5 {
    color:#929292;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.box-info-produto h4 {
  color: #6c6c6c;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.box-info-produto ul {text-align: center;padding-left: 0;}
.box-info-produto ul > li {
    display: inline;
    font-size: 22px;
    color:#3a4661;
}

.box-info-produto p {
    text-align: center;
    color: #6c6c6c;
}

.box-info-produto button {
    background: #3a4661;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    color:#fff;
    font-weight: 200;
    display: block;
    margin: 0 auto;
}

.img-escolha-produto {padding: 0;}
.img-escolha-produto img {width: 100%;}
.acabamentos {
    border-top: 1px solid #cfcfcf;
    display: block;
    width: 100%;
    height: 50px;
}

.acabamentos h3 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.superficies {
    border-top: 1px solid #cfcfcf;
    display: block;
    width: 100%;
    height: 50px;
}

.superficies h3 {
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.info-interna {
    padding: 30px;
}

.desenhot {
    background: #fff;
    padding: 30px 0;
}

.desenhot h3 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.desenhot .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #272f42;
    color:#fff;
}
.desenhot .table-striped > tbody > tr:last-child {
    border-bottom: 3px solid #272f42;
}

.prod-thumb img {
    display: block;
    margin: 0 auto;
}

.prod-thumb h3 {
    text-align: center;
    text-transform: uppercase;
    color:#bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 14px;
}

.prod-thumb:hover {
    text-decoration: none;
}

.door {float: right;width: 100%;}

.subscribe {
    padding-left: 0;
    list-style: none;
}

.subscribe .list__item {float: left;margin-right: 20px;}

.list {padding-left: 0;list-style: none;}
.label--radio {position: relative;left: 15px;color: #989da5;font-weight: 300;}

.label--checkbox {font-weight: 300;
    color: #989da5;}

.checkbox {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
  float: left;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid #2d364c;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}


.radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
  float: left;
}
.radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0.125rem;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  background: #2d364c;
  border-radius: 50%;
}
.radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1.4rem;
height: 1.4rem;
  background: #fff;
  border: 2px solid #e4e4e4;
  border-radius: 50%;
}


.carousel-outrosp h2 {
    text-transform: uppercase;
    color:#bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 16px;
    margin-top: 0;
}
.carousel-outrosp {
    background: #2d364c;
    padding: 30px;
}
.carousel-outrosp .carousel {
    margin-bottom: 0;
    padding: 0 40px;
}
/* The controlsy */
.carousel-outrosp .carousel-control {
    height: 40px;
	width: 40px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius:0;
    margin-top: 100px;
}
.carousel-outrosp .carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-outrosp .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-outrosp .carousel-indicators li {
	background: #cecece;
}
.carousel-outrosp .carousel-indicators .active {
background: #428bca;
}

.carousel-outrosp .carousel-inner {
    margin-left: 6px;
}

.carousel-outrosp .carousel-control i {
    padding: 10px 0;
}
/* Fim box info */


/* carousel-modelos */

.carousel-modelos h2 {
    text-transform: uppercase;
    color:#bebebe;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 16px;
    margin-top: 0;
}
.carousel-modelos {
    background: #2d364c;
    padding: 30px;
    margin-top: 20px;
}
.carousel-modelos .carousel {
    margin-bottom: 0;
    padding: 0 40px;
}
/* The controlsy */
.carousel-modelos .carousel-control {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius:0;
    margin-top: 100px;
}
.carousel-modelos .carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-modelos .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-modelos .carousel-indicators li {
    background: #cecece;
}
.carousel-modelos .carousel-indicators .active {
background: #428bca;
}

.carousel-modelos .carousel-inner {
    margin-left: 6px;
}

.carousel-modelos .carousel-control i {
    padding: 10px 0;
}
/* Fim box info */

/* Personalize sua maçaneta */

.custom-interna .panel-default>.panel-heading {background: #fff;padding: 20px 0 !important;}
.panel-heading a:focus, .panel-heading a:hover {text-decoration: none;}

.custom-interna button {width: 100% !important;margin: 0;padding: 30px 0;}
.custom-interna .panel-group {margin-bottom: 0;}


/* Fim do personalize */

/* Box de textos */

.valoresh {padding-top: 20px;padding-bottom: 20px;background: #30394f;color:#fff;}
.valoresh .cont {position: relative;}

.valoresh .cont .text {
    column-count: 2;
    column-gap: 40px;
}

.valoresh .cont .placeholder {
    width: 100%;
    height: 21rem;
    margin: 0 0 1.4rem;
    float: left;
}


.inova {padding-top: 20px;padding-bottom: 20px;background: #30394f;color:#fff;}
.inova img {width: 100%;}

.inova .cont {position: relative;}

.inova .cont .text {
    column-count: 2;
    column-gap: 40px;
}
/* Fim do box de textos */

/* Página de Linhas */

.products {
    background: #e4e4e4;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-pr {
    background: transparent;
}

.products .filtro {
    background: #fff;
}

.filtro img {
    width: 100%;
}



.show-pr {background: #fff;padding:20px;}

.result {margin: 0;}

.result p {text-transform: uppercase;float: left;color:#989da5;}

.result p a {color:#0f305a;}
.result p a:hover {text-decoration: none;}

.result button {background: #0f305a;border:0;box-shadow: none;color:#fff;text-transform: uppercase;margin-left: 10px;}

.linha-filtro { border-left:2px solid #ccc; height: 100px; overflow-y: scroll;padding-left: 10px;text-transform: uppercase; }

.filtro {padding: 0;}

.custom-menu {background: #fff;padding: 0;}
.custom-menu h4 {color:#989da5;text-transform: uppercase;font-size: 14px;font-weight: 300;}
.custom-menu .row {
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.filtro .row {
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
}

.filtro h4 {color:#989da5;text-transform: uppercase;font-size: 14px;font-weight: 300;}

.result-p {border-bottom: 1px solid #e4e4e4;margin: 20px 0 0;}
.result-p:last-child {border-bottom: 0;}
.result-p h4 {color:#323c52;margin-bottom: 0;font-weight: 400;}
.result-p p {color:#b3b3b3;font-size: 13px;text-transform: uppercase;font-weight: 400;}

.products #paginacao ul {margin-top: 10px;}
.products #paginacao ul li {color:#272f42;}

.person-f p {color:#5f636a;font-size: 14px;}
.person-f a button {background: #333d53;color:#fff;border:0;padding: 10px 20px;display: block;margin: 0 auto;font-weight: 400;}

.search-linha {width: 100%;margin-bottom: 5px;background: #e4e4e4;border:0;box-shadow: none;padding: 5px;text-transform: uppercase;}
.products form p {margin-bottom: 5px;}
.products form p label {margin-bottom: 0;color:#989da5;font-weight: 300;}
.products input[type="checkbox"]{border-radius: 0;margin-right: 5px;}
.filtro .linha-filtro p {margin-bottom: 5px;}
.filtro .linha-filtro p label {margin-bottom: 0;color:#989da5;font-weight: 300;}

.custom-menu .linha-filtro p {margin-bottom: 5px;}
.custom-menu .linha-filtro p label {margin-bottom: 0;color:#989da5;font-weight: 300;}

 ul.categoriaprod {
    margin: 0.75em 0;
    padding: 0;
    list-style: none;
}

.filtro-dica .row {border-bottom: 1px solid #e4e4e4;}
.filtro-dica .row:last-child {border-bottom: 0;}
.busca-dicas input {margin-bottom: 20px;width: 100%;
}

.tags-dicas {padding-left: 0;}
.tags-dicas li {display: inline;
}
.tags-dicas li a {
        color: #989da5;
    font-weight: 300;
}

.sociais {padding-left: 0;
}
.sociais li {display: inline;padding: 0 10px;font-size: 20px;}
.sociais li a {color:#333d53;}

ul.categoriaprod li a {
    color:#989da5;
    font-weight: 300;
}

ul.categoriaprod li a:hover {text-decoration: none;}

ul.categoriaprod li a.active {color:#323c52;}


.pag {margin: 0;}

.filtro-dica {background: #fff; height: auto;}

.filtro-dica h4 {color: #989da5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

.ambiente-input #box2, .ambiente-input #box3 {margin-left: 10px;}
.ambiente-input label {color:#666;font-weight: 300;}

.single-dica-post img {    width: 50%;
    float: right;
    margin: 0 10px;}
/* Grid Dicas */

.grid-dicas {background: #333d53;padding-top: 30px;padding-bottom: 30px;}

.grid-dicas .row
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
 
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid-dicas .col-md-4
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width:33%;
}
.grid-dicas .panel {
  width:100%;
  border-radius: 0;
  background: #212C44;
  border: 0;
}

.grid-dicas .panel-default>.panel-heading {border: 0;padding: 0;}
.grid-dicas .panel-default>.panel-heading img {width: 100%;}
.grid-dicas .panel-body h3 {margin-top: 0;font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #e50051;
    margin-top: 0;
    font-size: 12px;
}

.grid-dicas .panel-body h2 {
    margin-top: 0;font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 0;
    font-size: 16px;
    height: 35px;
}

.grid-dicas .panel-body p {
   color: #BCBCBC;
   height: 150px;
}

.leiamais {
    color: #E50052;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 2px;
}

#paginacao {
    width: 100%;
    text-align: center;
}

#paginacao ul {
    float: right;
}

#paginacao ul li {
    display: inline;
    margin: 0 5px;
    color:#bcbcbc;
}

/* SINGLE DICAS */

.single {background: #333d53;padding-top: 30px;padding-bottom: 30px;}

.single .col-md-9 {
    color:#fff;
}

.single h3 {text-transform: uppercase;font-size: 22px;font-weight: 300;letter-spacing: 3px;}

.tags h3{color:#fff;font-size: 18px;margin-top: 0;}
.date h3{color:#fff;font-size: 18px;margin-top: 0;}
.share h3{color:#fff;font-size: 18px;margin-top: 0;}

.result-tag {background: #fff;padding: 5px;margin-bottom: 10px;}
.result-tag ul {padding-left: 0;margin-bottom: 0;}
.result-tag ul > li {display: inline;}

.result-data {background: #fff;padding: 5px;margin-bottom: 10px;}
.result-data p {margin-bottom: 0;}

.result-share {background: #fff;padding: 0px;}
.result-share ul {padding-left: 0;margin-bottom: 0;list-style: none;}
.result-share ul > li {text-transform: uppercase;letter-spacing: 3px;border-bottom: 1px solid #333d53;}
.result-share ul > li > a {color:#333d53;padding: 5px;display: block;}
.result-share ul > li:last-child {border-bottom: 0;}
/* FIM DAS DICAS */

/* Produtos catalogo */

.produtos-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.produtos-list h4 {text-transform: uppercase;font-size: 18px;}
.produtos-list button {background: #3a4661;border:0;padding: 5px;color:#fff;width: 100%;text-transform: uppercase;font-weight: 200;margin-bottom: 20px;}

.produtos {padding-left:0px;}

.produtos img {display: block;margin: 0 auto;}
/* FIM PRODUTOS */



/* MODAL DE LOGIN */

.modal-content {border-radius: 0;background: #333d53;}
.modal-header {
    color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
}

.modal-header h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.modal-body label {
    margin-bottom: 0;
    color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
}

.close {
    text-shadow: none;
    color:#fff;
    opacity: 1;
}

.form__control{
  display: block;
  background: #212C44;
    margin: 5px 0;
    height: 45px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    box-shadow: none;
    border: 0;
}


.btn{
background: #e50051;
    padding: 10px;
    color: #fff;
    width: 50%;
    border: 0;
    border-radius: 0;
}

#SignModal .form__group {margin-bottom: 0;margin-top: 15px;}


#signup__email{
  background: #212C44 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAA7UlEQVR4Aa2VCQ2EMBREawELWKgFLKwFLNRCLWABC1jAwF4WsMBy/E1+JsMxSZM8bt70bvi8XneJC8kId1DE08LXzsNCpcnPxR3cjxAgy9uF2YmDEiCJ1QBVjNQmpwGyGDEpDaBiGG5KwLQQmbwzccsFeoAuFgKs18/bWKQ2eb/eNAuzkUqU3FyDk1+Okvwvkes0TzTxd6FHebAAnBiV65NMRgWbUInJ8cMIMuy0hwEFInII+C7MICZDF5pSkI9EzALyqVxc8VCEpUe5LubrEe/QBncZkcYVLIO8wCy1mvtJVNtNaTpfpVSQdqH6ARac3tEPInsoAAAAAElFTkSuQmCC') left 8px center no-repeat;
  padding-left: 40px;
}

#signup__password{
  background: #212C44 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAXCAYAAADpwXTaAAAAuUlEQVR4AcXUUY0DIRCH8bGABSxgYS3UwloYC1g4LVhAwebWAhbo12QeNlzKUkJ6m/ye/sn30AmV3vd7HB56sUPekc4YUVGQkFFxInwS+7GIQi48sm1hJBZQ8Wg343AijcQiTkjHjgp3F0tGOjaLbSMxhfR8NeZtzHbN7UaFXoPNDzotw4ldpCJCJngUxD+XmZReRmMBbkVMbS/rYlgRaw80HzMVuipWoP97zSkWW/oCFr/N5l9jijWe5ji9FMKDOfwAAAAASUVORK5CYII=') left 8px center no-repeat;
  padding-left: 40px;
}

.forgot__password{
  text-decoration: none;
  color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
  float: right;
}

.forgot__password:hover {
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}

.login__options{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
}

.login__options .label--checkbox input {margin-right: 10px;}

.form__group{
  margin-bottom: 15px;
}

h5{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  line-height: 0.1em;
  margin: 30px 0 20px; 
}

h5 span { 
  background:#fff; 
  padding:0 10px; 
}


.signup__link a{
  text-decoration: none;
  color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
}

.signup__link{
  font-weight: 600;
}

.signup__link span{
  color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
}
     /*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: -20%;
  right: 0;
  background: #c8c8c8;
    border-radius: 0;
    border: 0;
}

.yamm .dropdown.yamm-fw .dropdown-menu.withc {width: 1200px;padding: 0;margin: 0;}

.yamm .dropdown.yamm-fw .dropdown-menu .item-menu {width: 14.28%;float: left;padding: 10px;height: 190px;}

.yamm .dropdown.yamm-fw .dropdown-menu .item-menu h3 {margin: 5px 0 0 0;text-align: center;}
.yamm .dropdown.yamm-fw .dropdown-menu .item-menu img {display: block;margin:0 auto;}
.yamm .dropdown.yamm-fw .dropdown-menu .item-menu:last-child h3 {text-align: left;margin-left: 15px;}
.yamm .dropdown.yamm-fw .dropdown-menu .item-menu:last-child img {margin: 0;}

.withc .grid-demo {padding: 0;}

.custom {background: #aaaaaa;}
.custom a:hover img {border: 0;}

.yamm .dropdown.yamm-fw .dropdown-menu a h3 {
  color:#0f305a;
  font-size: 14px;
  margin: 0;
  height: 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu a p{
    color:#2f2f2f;
}

.yamm .dropdown.yamm-fw .dropdown-menu a:hover {
    text-decoration: none;
}


.list-unstyled,
.list-unstyled ul { min-width: 120px }

@media ( min-width: 767px ) {
  
  .thumbnail { margin: 0; }
}

/* Grid demo styles */
.grid-demo {padding: 15px;}

  .grid-demo [class*="col-"] {
    text-align: center;
  }



/* Inicio Duvida Contato Social */


.box-duvida-contato-social{
    background-color: #272f42;
    height: auto;
}

.box-duvidas, .box-fale-conosco, .box-rede-social{
    color: #fff;
    height: 82px;
    padding-top: 19px;
    letter-spacing: 4px;
}

.box-duvidas>div,.box-fale-conosco>div{
    padding-left: 43px;
}

.box-rede-social{
    color: #FFF;
    padding-top: 19px;
    float: right;
    letter-spacing: 4px!important;
}

.box-rede-social div {
    float: left;
}

.redes {padding-left: 10px;float: left}
.redes li {display: inline;font-size: 28px;}
.redes li a {color:#fff;}

/* Fim  */

/* Inicio Footer  width: 258px !important; */
.box-footer{
    height: auto;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* posicionamento container institucional */
.box-footer-institucional{
    
}

/* posicionamento container produto */
.box-footer-produtos{
    
}

/* posicionamento container fale-conosco */
.box-footer-Fale-conosco{
    
}
/* posicionamento container footer-conteudo */
.box-footer-conteudo{
    
}
/* posicionamento container box-copyright */
.box-copyright{
   padding-top: 20px; 
}


/* titulo h3 de cada ul */
.box-footer-institucional>h3,.box-footer-conteudo>.box-footer-Fale-conosco>h3, .box-footer-produtos>h3{
    font: 24px "myriad-pro",sans-serif;
    text-transform: uppercase !important;
    color: #3a4661 !important;
}

/* definindo font e tamanho para toda descrição do footer */
 .box-footer-conteudo>.box-footer-institucional>ul,
 .box-footer-conteudo>.box-footer-produtos>ul,.box-footer-conteudo>.box-footer-Fale-conosco>ul, .texto-copyright, .texto-create-by{
    font: 14px "myriad-pro",sans-serif;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    color: #235fb2;
    text-decoration:none !important;    
 }


.box-footer-conteudo>.box-footer-institucional>ul>li>a,.box-footer-conteudo>.box-footer-produtos>ul>li>a,.box-footer-conteudo>.box-footer-Fale-conosco>ul>li>a {color:#959595;}

 a.link-footer:link, a.link-footer:visited, a.link-footer:hover, a.link-footer:active {
    color:#235fb2;
    text-decoration:none;
}

.box-footer-produtos .col-md-4 {padding-left: 0;}
.box-produto1-ul{
    padding-left: 0;
    font-size: 14px;
    list-style: none;
    color:#235fb2;
    font: 14px "myriad-pro",sans-serif;
}

.box-produto1-ul>li> a {
   color:#959595 !important;; 
}

.box-produto2-ul>li>a {
    color:#959595 !important;
}

.box-produto2-ul{
   padding-left: 0; 
    font-size: 14px;
    list-style: none;
    color:#235fb2;
    font: 14px "myriad-pro",sans-serif;
}

.texto-copyright{
    float: left;
    color: #235fb2;
}

.texto-create-by{
    float: right;
    color: #235fb2;
    text-decoration:none!important;
}

.link-footer img {
    width: 40%;float: left;
}

.link-footer p {margin-top: 10px;}
   
/* Fim  */

/* Formulário de contato */

.contact-form {background: #333d53;padding-top: 30px;padding-bottom: 30px;}

.formulario p {color: #BCBCBC;}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: #212C44;
    color: #bcbcbc;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    height: 30px;
}

label.lab {position:relative;width: 100%;margin: 5px 0;}
label.lab:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#555;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:7px;
    padding:0 0 2px;
    border-bottom:1px solid #555;
    position:absolute;
    pointer-events:none;
}
label.lab:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#212C44;
    position:absolute;
    pointer-events:none;
    display:block;
}

label.lab3 {position:relative;width: 100%;margin: 5px 0;}
label.lab3:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#555;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:12px;
    padding:0 0 2px;
    border-bottom:1px solid #555;
    position:absolute;
    pointer-events:none;
}
label.lab3:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#e4e4e4;
    position:absolute;
    pointer-events:none;
    display:block;
}

.lab3 select {
    padding:6px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: #e4e4e4;
    color: #bcbcbc;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
    height: 40px;
    font-weight: 300;
}


.formulario input[type="text"],.formulario input[type="tel"]{
    background: #212C44;
    margin: 5px 0;
    height: 27px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.formulario input[type="email"]{
    background: #212C44;
    margin: 5px 0;
    height: 27px;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}


.formulario input[type="submit"] {
    background: #e50051;
    padding: 10px;
    color:#fff;
    width: 50%;
    border: 0;
    margin-top: 5px;
    
}

#no {margin-left: 10px;}

.formulario .col-md-6, .formulario .col-md-4, .formulario .col-md-3, .formulario .col-md-2, .formulario .col-md-12 {padding-left: 5px;padding-right: 5px;}

.formulario label {
    width: 100%;
    color: #ffffff;
    font: 14px "myriad-pro",sans-serif;
    font-weight: 200;
}

.formulario .lab2 {
    margin-left: 5px;
    margin-bottom: 0;
}

.formulario textarea {
    background: #212C44;
    margin: 5px 0;
    line-height: 30px;
    padding: 5px 10px;
    color: #BCBCBC;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

#faleconosco-right h3 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color:#fff;
    margin-top: 0;
}

#faleconosco-right h4 {
    color: #fff;
}

#faleconosco-right p {
    color:#BCBCBC;
}

.area-form-cadastro {
    color:#BCBCBC;
}

.caroul-mobile {display: none;}

/* Fim do formulário */


/* media queries */

@media (max-width: 768px) {
    .navbar-default .navbar-brand {width: 150px;}
    .navbar-toggle {margin-top: 25px;margin-right: 5px;}
    .navbar-collapse {background: #e7e7e7;}
    .navbar-default .container-fluid, .navbar-default .container, .navbar-default .col-md-8 {padding: 0;}
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color:#666;}
    .navbar-default .navbar-nav>li>a {color:#666;}
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {color: #666;}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {color:#666;}
    .dropdown-menu .col-md-3 li>a {color:#666;}
    .buscar {width: 20%;float: left;}
    .cta h1 {font-size: 100%;}
    .box-watch-video {width: 100%;padding: 10px;}
    .inside-box-watch-video {padding: 10px;}
    .box-texto-destaque h2, .box-produto-destaque h2, .inside-box-watch-video h2 {font-size: 100%;}
    .box-rede-social {float: left;margin-bottom: 20px;}
    .grid-dicas .col-md-4 {width: 100%;}
    .header-historia p {width: auto;}
    #faleconosco-right {padding-top: 30px;}
    #Carousel {display: none;}
    .caroul-mobile {display: block;}
    .acabamentos {height: 120px;}
    .superficies {height: 120px;}
    #img_doismilequinze {display: none;}
    .linhadotempo_um h1 { writing-mode: inherit;float: none;margin: 0;}
    .linhadotempo_um .text-box {width: 100%;padding: 0;}
    .text-box img {width: 100%;}
    .linhadotempo_um {border-left: 0;border-bottom: 10px solid #272f42;height: auto;}
    .linhadotempo_dois {border-right: 0;border-bottom: 10px solid #272f42;background: #333d53;}
    .linhadotempo_dois .text-box {display: block;width: 100%;padding: 0;}
    .linhadotempo_dois h1 {margin: 0;float: none;writing-mode:inherit;}
    .produtos {min-width: auto;}
    .yamm .dropdown.yamm-fw .dropdown-menu.withc {width: 100%;}
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu {width: 100%;text-align: center;height: 170px;}
    .yamm .dropdown.yamm-fw .dropdown-menu .item-menu:first-child {height: 200px;}
    .grid-demo .row {margin: 0;}
    .yamm .dropdown.yamm-fw .dropdown-menu a h3 {margin-top: 15px;}
    .yamm .col-md-7 {padding: 0;}
    .search-form {margin: 0;}
    .search-field {padding-left: 10px;}
    .topo-painel {float: none;}
    .box-footer-produtos .col-md-6 {padding: 0;}
    #navbar-collapse-grid {padding: 0;}
    .cd-timeline-thumb {display: none;}
    .cd-timeline-thumb-2 {display: none;}
    .valoresh .cont .text {column-count: 1;}
    .valoresh .cont .text p img {width: 100%;}
    .inova .cont .text {column-count: 1;}
    .inova .cont .text p img {width: 100%;}
    .carousel-outrosp {display: none;}
    .content-pr {background: #fff;}
    .carousel-modelos {display: none;}
    .grid-dicas .col-md-9 {padding: 0;margin-top: 20px;}
    .grid-dicas .col-md-9 .col-md-4 {padding: 0;}
    .radio:before {left: 0.100rem;}
    .topo-painel { margin-top: 0;text-align: center;width: 100%;display: block;}
    .top-login {padding-left: 0;}
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 6px;
  background: #acb9c9;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    padding-top: 25px;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #acb9c9;
}
.cd-timeline-img p {
  display: block;
  width: 40px;
  height: 24px;
  position: relative;
  left: 45%;
  top: 55%;
  margin-left: -12px;
  margin-top: -12px;
    color: #30394f;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  text-align: center;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
   margin-bottom: 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;

}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    color: #3a4661;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }
  .cd-timeline-content p {
    font-size: 16px;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    float: left;
  }

  .cd-timeline-thumb {
    display: block;
    float: left;
    margin-left: 30px;
    position: relative;
    left: 90px;
  }


  .cd-timeline-thumb-2 {
    display: block;
    float: left;
    position: relative;
    left: 70px;
  }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 120%;
    top: 6px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
