<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
        <p>2015</p>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
        <h2>50 anos de sucesso</h2>
        <p>Mantendo sua Qualidade inicial, ampliando sua linha de produtos, e cada vez mais presente no mercado da construção, a IMAB completa seus 50 anos de Sucesso!</p>
        <!-- <img src="assets/imagens/50anos.png" alt=""> -->

    </div> <!-- cd-timeline-content -->

    <div class="cd-timeline-thumb">
        <img src="assets/imagens/timeline/2015.png" alt="">
    </div>

</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
        <p>2010</p>
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-thumb-2">
        <img src="assets/imagens/timeline/2010.png" alt="">
    </div>
    <div class="cd-timeline-content">
        <h2>UM novo conceito</h2>
        <p>A IMAB incorporou novos produtos ao seu mix, porém não abandonou o seu mercado tradicional de ferragens, nem o padrão e a qualidade empregados na primeira ponta de lança produzida na década de 1960.</p>

    </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
        <p>2000</p>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
        <h2>Mais tecnologia</h2>
        <p>Em janeiro de 2002, a ABNT – Associação Brasileira de Normas, publica a norma nº 14.913, com exigências para a fabricação de fechaduras de tráfego intenso. A IMAB não precisou nem se adaptar à norma, pois os produtos já atendiam e ultrapassavam as exigências desde o lançamento de sua primeira fechadura, em 1994. </p>
    </div> <!-- cd-timeline-content -->

    <div class="cd-timeline-thumb">
        <img src="assets/imagens/timeline/2000.png" alt="">
    </div>
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
        <p>1990</p>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-thumb-2">
        <img src="assets/imagens/timeline/1990.png" alt="">
    </div>

    <div class="cd-timeline-content">
        <h2>Maçanetas brasileiras com jeito europeu</h2>
        <p>Foram empregados cinco anos em testes e análises para se produzir o produto ideal, que chegou ao mercado, em 1994: uma fechadura da mais alta qualidade, cujos padrões eram baseados em normativas europeias e americanas.</p>


    </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
        <p>1980</p>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
        <h2>Novidades</h2>
        <p>A IMAB entra em um novo mercado, o de maçanetas avulsas. A empresa passa a fabricar maçanetas, com design e acabamento diferenciado para ser acoplado na fechadura de outros fabricantes. No fim da década, contava 69 tipos de furação de rosetas e espelhos para acoplar com as fechaduras existentes no mercado. Neste momento, a empresa lança sua própria fechadura, produzida dentro dos mais altos padrões de qualidade.</p>


    </div> <!-- cd-timeline-content -->

    <div class="cd-timeline-thumb">
        <img src="assets/imagens/timeline/1980.png" alt="">
    </div>
</div> <!-- cd-timeline-block -->

<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
        <p>1970</p>
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-thumb-2">
        <img src="assets/imagens/timeline/1970.png" alt="">
    </div>
    <div class="cd-timeline-content">
        <h2>Ampliação</h2>
        <p>A IMAB cresce e amplia sua produção. Em 1973, muda-se para a sede própria em Embu-Guaçu-SP, local onde a empresa está até os dias atuais, em grande área construída.</p>

    </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->
<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-location">
        <p>1960</p>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
        <h2>O começo</h2>
        <p>A IMAB começa sua história fabricando pontas de lanças para portões, quase como obras de arte, feitas à mão com total cuidado.</p>

    </div> <!-- cd-timeline-content -->

    <div class="cd-timeline-thumb">
        <img src="assets/imagens/timeline/1960.png" alt="">
    </div>
</div> <!-- cd-timeline-block -->